/*generic*/
body {
    background-color: #222222 !important;
    color: #DDDDDD !important;
}

div.sectionWrapper{
    clear: both;
    overflow: auto;
}

.hidden{
    display: none;
}

select, input, option{
    color: #000000 !important; 
}

/*navigation*/
div.nav-row{
    margin-bottom: 1em;
}


/*lists*/
div.longListWrapper{
    max-height: 300px;
    overflow: auto;
}