widget-Filter{
	float:right;
	width:calc(80% - 2em);
	margin: 0 1em 0 0;
}

form#conditionWrap{
	width:100%;
}

div.filterCondition{
	background-color: #111111;
	border-radius: 1em;
	margin-bottom: 1em;
	padding:1em;
	clear:both;
	display:inline-block;
}

div.leftTab{
	display: inline-block;
	font-size: 200%;
	padding:1em;
	border-radius: 1em;
	background-color: #333333;
	float:left;
}

div.filterContent{
	display:inline-block;
	margin-left: 1em;
	float:left;
}

form#conditionWrap div:nth-child(1) div.leftTab{
	opacity: 0;
}

table.filterTable{
	line-height: 150%;
	margin-bottom: 1em;
	border-left: 3px solid #EEEEEE;
}

table.filterTable tr td{
	padding: 0.5em;
}

table.filterTable tr:nth-child(2n+1){
	background-color: #444444;
}

table.filterTable tr:nth-child(2n){
	background-color: #333333;
}

table.filterTable tr:nth-child(1) td:nth-child(1){
	opacity: 0;
}

button.lightButton{
	background-color: #444444;
}

div.optionConfigWrap{
	text-align: right;
	width:15em;
}

div.hiddenConfig{
	opacity:0;
	pointer-events: none;
}

form.filterControl{
	background-color: #333333;
	border-radius: 1em;
	padding: 1em;
	margin: 1em 0 1em 0;
	display: block;
	width: -moz-max-content;
	width: -webkit-max-content;
}
/*
form.summary span:first-child{
	display: none;
}
*/
input#cycleName{
	width:10em;
}

form span{
	display: block;
}

form span label,
form span select{
	margin-right: 1em !important;
}

form span:first-child{
	margin-bottom: 1em;
}

div#contentWrap{
	float:left;
	width: 55em;
}

form#filterDefinitionForm{
	display: inline-block;
}

@media screen and (min-width: 94em){
	form#filterDefinitionForm{
		float: left;
		width: -moz-min-content;
		width: -webkit-min-content;
	}

	form#filterDefinitionForm *{
		margin-bottom: 0.5em;
	}
}
