<link rel="stylesheet" href="../detector.css">

<template id='detector-tigress'>
    <div class='nav-row'>
        <select id='detectorView' onchange='manageView()'>
            {{#views}}
                <option value='{{.}}'>{{.}}</option>
            {{/views}}            
        </select>
        <div class="btn-group" role="group" id="view-nav"></div>
    </div>

    <div id='visualizationcollection'>
        {{#views}}
            <div id='{{.}}Wrap' class='visWrap hidden'></div>
        {{/views}}
        <form id='scalecontrol' onchange='managePlotScale()'>
            <label for='linScale'>Linear</label>
            <input id='linScale' name='plotScale' value='lin' type='radio' checked></input>
            <label for='logScale' class='uiRow'>Log</label>
            <input id='logScale' name='plotScale' value='log' type='radio'></input>
            <label for='scaleMin', class='uiRow'>Min</label>
            <input id='scaleMin', type='number' min='0' step='1'></input>
            <label for='scaleMax', class='uiRow'>Max</label>
            <input id='scaleMax', type='number' min='0' step='1'></input>
        </form>
    </div>

    <img id='errorPattern' src='img/static.gif' class='hidden'></img>
</template>

<script>
                
    function dataUpdate(){                    
        // special post-heartbeat callback for GRIFFIN:
        updateRunStatus();
        summarizeData();
        repaint();
    }

    function parameterizeDetector(){
        // determine all the parameters needed for TIGRESS's visualization widget that can be calculated before HTML injection, and park them on dataStore.detector

        var i, j, k;

        // build up names of tigress detectors
        dataStore.detector.HPGEprefixes = [];
        dataStore.detector.BGOprefixes = [];
        dataStore.detector.colors = ['R', 'G', 'B', 'W'];
        dataStore.detector.HPGEcellCodes = ['N00A', 'N00B', 'N00X', 'P01X', 'P02X', 'P03X', 'P04X', 'P05X', 'P06X', 'P07X', 'P08X'];
        dataStore.detector.BGOcellCodes = [   'N01X', 'N02X', 'N03X', 'N04X', 'N05X',
                                'N01A', 'N02A', 'N03A', 'N04A', 'N05A',
                                'N01B', 'N02B', 'N03B', 'N04B', 'N05B'
                            ];
        for(i=1; i<17; i++){
            j = (i<10) ? '0'+i : i;
            dataStore.detector.HPGEprefixes.push('TIG' + j);
            dataStore.detector.BGOprefixes.push('TIS' + j);
        }

        //build up channel names
        dataStore.detector.channelNames = [];
        for(i=0; i<dataStore.detector.HPGEprefixes.length; i++){
            for(j=0; j<dataStore.detector.colors.length; j++){
                for(k=0; k<dataStore.detector.HPGEcellCodes.length; k++){
                    dataStore.detector.channelNames.push(dataStore.detector.HPGEprefixes[i] + dataStore.detector.colors[j] + dataStore.detector.HPGEcellCodes[k]);
                }
                for(k=0; k<dataStore.detector.BGOcellCodes.length; k++){
                    dataStore.detector.channelNames.push(dataStore.detector.BGOprefixes[i] + dataStore.detector.colors[j] + dataStore.detector.BGOcellCodes[k]);
                }
            }
        }
        //build up summary channel names
        for(i=0; i<16; i++){
            for(j=0; j<4; j++){
                dataStore.detector.channelNames.push(dataStore.detector.HPGEprefixes[i] + dataStore.detector.colors[j]);
                dataStore.detector.channelNames.push(dataStore.detector.BGOprefixes[i] + dataStore.detector.colors[j]);
            }
        }

        // view labels
        dataStore.detector.views = ['summary'].concat(dataStore.detector.HPGEprefixes);

        //subview info
        dataStore.detector.subviews = ['HV', 'threshold', 'trigger_request', 'trigger_accept'];

        // how many characters are in the summary view channel names?
        dataStore.detector.summaryDepth = 6;

        // build up raw data structure
        createDataStructure();
    }

    function drawDetector(){
        // once the HTML is in place, finish setting up the GRIFFIN visualization.

        //generic setup
        setupDetector();

        //TIGRESS clovers are laid out on a 24x24 square grid.
        dataStore.detector.grid = dataStore.detector.height*0.8/24;
        dataStore.detector.xMargin = (dataStore.detector.width - dataStore.detector.grid*24)/2
        //TIGRESS summary is laid out on a 58x20 square grid.
        dataStore.detector.summaryGrid = Math.min(0.8*dataStore.detector.height/20, dataStore.detector.width/58);
        dataStore.detector.summaryXmargin = (dataStore.detector.width - 58*dataStore.detector.summaryGrid)/2;
        dataStore.detector.summaryYmargin = (0.8*dataStore.detector.height - 20*dataStore.detector.summaryGrid)/2;

        // start with summary trigger accepts displayed
        manageView(true);
        manageSubview('trigger_accept', true);

        // set up the cells
        generateCoords();
        generateSummaryCoords();
        instantiateCells();
        instantiateSummaryCells();
        generateColorScale(dataStore.detector.plotScales['trigger_accept'].color);

        repaint();
    }

    function instantiateCells(){
        // decalre the cells for the detail views of each clover, and plug in interactions.

        var i, viewIndex, channel, cellKey

        //each channel listed in dataStore.detector.channelNames gets an entry in dataStore.detector.cells as a quickdraw object:
        for(i=0; i<dataStore.detector.channelNames.length; i++){
            channel = dataStore.detector.channelNames[i];

            //not dealing with summary channels here, skip them:
            if(channel.length != 10)
                continue;

            viewIndex = parseInt( channel.slice(3,5) ,10);
            cellKey = channel.slice(5);

            createCell(channel, cellKey);

            //add the cell to the appropriate main layer or HV layer
            if(isHV(channel))
                dataStore.detector.HVLayer[viewIndex].add(dataStore.detector.cells[channel])
            else
                dataStore.detector.channelLayer[viewIndex].add(dataStore.detector.cells[channel]);

        }

        setupErrorPattern();
    }

    function generateCoords(){
        // generate the coordinates of cell vertices for detail views
        var g = dataStore.detector.grid;

        //vertices of cells, keyed by last 5 characters 
        //Green HPGE
        dataStore.detector.cellCoords['GN00A'] = [dataStore.detector.xMargin+8*g,10*g, dataStore.detector.xMargin+8*g,8*g, dataStore.detector.xMargin+10*g,8*g];
        dataStore.detector.cellCoords['GN00B'] = [dataStore.detector.xMargin+8*g,10*g, dataStore.detector.xMargin+10*g,10*g, dataStore.detector.xMargin+10*g,8*g];
        dataStore.detector.cellCoords['GN00X'] = [dataStore.detector.xMargin+6*g,6*g, dataStore.detector.xMargin+12*g,6*g, dataStore.detector.xMargin+12*g,12*g, dataStore.detector.xMargin+6*g,12*g];
        dataStore.detector.cellCoords['GP01X'] = [dataStore.detector.xMargin+8*g,9*g, dataStore.detector.xMargin+7*g,9*g, dataStore.detector.xMargin+7*g,7*g, dataStore.detector.xMargin+9*g,7*g, dataStore.detector.xMargin+9*g,8*g, dataStore.detector.xMargin+8*g,8*g];
        dataStore.detector.cellCoords['GP02X'] = [dataStore.detector.xMargin+8*g,9*g, dataStore.detector.xMargin+7*g,9*g, dataStore.detector.xMargin+7*g,11*g, dataStore.detector.xMargin+9*g,11*g, dataStore.detector.xMargin+9*g,10*g, dataStore.detector.xMargin+8*g,10*g];
        dataStore.detector.cellCoords['GP03X'] = [dataStore.detector.xMargin+9*g,10*g, dataStore.detector.xMargin+10*g,10*g, dataStore.detector.xMargin+10*g,9*g, dataStore.detector.xMargin+11*g,9*g, dataStore.detector.xMargin+11*g,11*g, dataStore.detector.xMargin+9*g,11*g];
        dataStore.detector.cellCoords['GP04X'] = [dataStore.detector.xMargin+10*g,9*g, dataStore.detector.xMargin+10*g,8*g, dataStore.detector.xMargin+9*g,8*g, dataStore.detector.xMargin+9*g,7*g, dataStore.detector.xMargin+11*g,7*g, dataStore.detector.xMargin+11*g,9*g];
        dataStore.detector.cellCoords['GP05X'] = [dataStore.detector.xMargin+7*g,9*g, dataStore.detector.xMargin+6*g,9*g, dataStore.detector.xMargin+6*g,6*g, dataStore.detector.xMargin+9*g,6*g, dataStore.detector.xMargin+9*g,7*g, dataStore.detector.xMargin+7*g,7*g];
        dataStore.detector.cellCoords['GP06X'] = [dataStore.detector.xMargin+7*g,9*g, dataStore.detector.xMargin+6*g,9*g, dataStore.detector.xMargin+6*g,12*g, dataStore.detector.xMargin+9*g,12*g, dataStore.detector.xMargin+9*g,11*g, dataStore.detector.xMargin+7*g,11*g];
        dataStore.detector.cellCoords['GP07X'] = [dataStore.detector.xMargin+9*g,12*g, dataStore.detector.xMargin+12*g,12*g, dataStore.detector.xMargin+12*g,9*g, dataStore.detector.xMargin+11*g,9*g, dataStore.detector.xMargin+11*g,11*g, dataStore.detector.xMargin+9*g,11*g];
        dataStore.detector.cellCoords['GP08X'] = [dataStore.detector.xMargin+11*g,9*g, dataStore.detector.xMargin+12*g,9*g, dataStore.detector.xMargin+12*g,6*g, dataStore.detector.xMargin+9*g,6*g, dataStore.detector.xMargin+9*g,7*g, dataStore.detector.xMargin+11*g,7*g];
        //Blue HPGE
        dataStore.detector.cellCoords['BN00A'] = [dataStore.detector.xMargin+16*g,10*g, dataStore.detector.xMargin+16*g,8*g, dataStore.detector.xMargin+14*g,8*g];
        dataStore.detector.cellCoords['BN00B'] = [dataStore.detector.xMargin+14*g,8*g, dataStore.detector.xMargin+14*g,10*g, dataStore.detector.xMargin+16*g,10*g];
        dataStore.detector.cellCoords['BN00X'] = [dataStore.detector.xMargin+12*g,6*g, dataStore.detector.xMargin+18*g,6*g, dataStore.detector.xMargin+18*g,12*g, dataStore.detector.xMargin+12*g,12*g];
        dataStore.detector.cellCoords['BP02X'] = [dataStore.detector.xMargin+14*g,9*g, dataStore.detector.xMargin+13*g,9*g, dataStore.detector.xMargin+13*g,7*g, dataStore.detector.xMargin+15*g,7*g, dataStore.detector.xMargin+15*g,8*g, dataStore.detector.xMargin+14*g,8*g];
        dataStore.detector.cellCoords['BP03X'] = [dataStore.detector.xMargin+14*g,9*g, dataStore.detector.xMargin+13*g,9*g, dataStore.detector.xMargin+13*g,11*g, dataStore.detector.xMargin+15*g,11*g, dataStore.detector.xMargin+15*g,10*g, dataStore.detector.xMargin+14*g,10*g];
        dataStore.detector.cellCoords['BP04X'] = [dataStore.detector.xMargin+15*g,10*g, dataStore.detector.xMargin+16*g,10*g, dataStore.detector.xMargin+16*g,9*g, dataStore.detector.xMargin+17*g,9*g, dataStore.detector.xMargin+17*g,11*g, dataStore.detector.xMargin+15*g,11*g];
        dataStore.detector.cellCoords['BP01X'] = [dataStore.detector.xMargin+16*g,9*g, dataStore.detector.xMargin+16*g,8*g, dataStore.detector.xMargin+15*g,8*g, dataStore.detector.xMargin+15*g,7*g, dataStore.detector.xMargin+17*g,7*g, dataStore.detector.xMargin+17*g,9*g];
        dataStore.detector.cellCoords['BP06X'] = [dataStore.detector.xMargin+13*g,9*g, dataStore.detector.xMargin+12*g,9*g, dataStore.detector.xMargin+12*g,6*g, dataStore.detector.xMargin+15*g,6*g, dataStore.detector.xMargin+15*g,7*g, dataStore.detector.xMargin+13*g,7*g];
        dataStore.detector.cellCoords['BP07X'] = [dataStore.detector.xMargin+13*g,9*g, dataStore.detector.xMargin+12*g,9*g, dataStore.detector.xMargin+12*g,12*g, dataStore.detector.xMargin+15*g,12*g, dataStore.detector.xMargin+15*g,11*g, dataStore.detector.xMargin+13*g,11*g];
        dataStore.detector.cellCoords['BP08X'] = [dataStore.detector.xMargin+15*g,12*g, dataStore.detector.xMargin+18*g,12*g, dataStore.detector.xMargin+18*g,9*g, dataStore.detector.xMargin+17*g,9*g, dataStore.detector.xMargin+17*g,11*g, dataStore.detector.xMargin+15*g,11*g];
        dataStore.detector.cellCoords['BP05X'] = [dataStore.detector.xMargin+17*g,9*g, dataStore.detector.xMargin+18*g,9*g, dataStore.detector.xMargin+18*g,6*g, dataStore.detector.xMargin+15*g,6*g, dataStore.detector.xMargin+15*g,7*g, dataStore.detector.xMargin+17*g,7*g];
        //White HPGE
        dataStore.detector.cellCoords['WN00B'] = [dataStore.detector.xMargin+14*g,16*g, dataStore.detector.xMargin+14*g,14*g, dataStore.detector.xMargin+16*g,14*g];
        dataStore.detector.cellCoords['WN00A'] = [dataStore.detector.xMargin+14*g,16*g, dataStore.detector.xMargin+16*g,16*g, dataStore.detector.xMargin+16*g,14*g];
        dataStore.detector.cellCoords['WN00X'] = [dataStore.detector.xMargin+12*g,12*g, dataStore.detector.xMargin+18*g,12*g, dataStore.detector.xMargin+18*g,18*g, dataStore.detector.xMargin+12*g,18*g];
        dataStore.detector.cellCoords['WP03X'] = [dataStore.detector.xMargin+14*g,15*g, dataStore.detector.xMargin+13*g,15*g, dataStore.detector.xMargin+13*g,13*g, dataStore.detector.xMargin+15*g,13*g, dataStore.detector.xMargin+15*g,14*g, dataStore.detector.xMargin+14*g,14*g];
        dataStore.detector.cellCoords['WP04X'] = [dataStore.detector.xMargin+14*g,15*g, dataStore.detector.xMargin+13*g,15*g, dataStore.detector.xMargin+13*g,17*g, dataStore.detector.xMargin+15*g,17*g, dataStore.detector.xMargin+15*g,16*g, dataStore.detector.xMargin+14*g,16*g];
        dataStore.detector.cellCoords['WP01X'] = [dataStore.detector.xMargin+15*g,16*g, dataStore.detector.xMargin+16*g,16*g, dataStore.detector.xMargin+16*g,15*g, dataStore.detector.xMargin+17*g,15*g, dataStore.detector.xMargin+17*g,17*g, dataStore.detector.xMargin+15*g,17*g];
        dataStore.detector.cellCoords['WP02X'] = [dataStore.detector.xMargin+16*g,15*g, dataStore.detector.xMargin+16*g,14*g, dataStore.detector.xMargin+15*g,14*g, dataStore.detector.xMargin+15*g,13*g, dataStore.detector.xMargin+17*g,13*g, dataStore.detector.xMargin+17*g,15*g];
        dataStore.detector.cellCoords['WP07X'] = [dataStore.detector.xMargin+13*g,15*g, dataStore.detector.xMargin+12*g,15*g, dataStore.detector.xMargin+12*g,12*g, dataStore.detector.xMargin+15*g,12*g, dataStore.detector.xMargin+15*g,13*g, dataStore.detector.xMargin+13*g,13*g];
        dataStore.detector.cellCoords['WP08X'] = [dataStore.detector.xMargin+13*g,15*g, dataStore.detector.xMargin+12*g,15*g, dataStore.detector.xMargin+12*g,18*g, dataStore.detector.xMargin+15*g,18*g, dataStore.detector.xMargin+15*g,17*g, dataStore.detector.xMargin+13*g,17*g];
        dataStore.detector.cellCoords['WP05X'] = [dataStore.detector.xMargin+15*g,18*g, dataStore.detector.xMargin+18*g,18*g, dataStore.detector.xMargin+18*g,15*g, dataStore.detector.xMargin+17*g,15*g, dataStore.detector.xMargin+17*g,17*g, dataStore.detector.xMargin+15*g,17*g];
        dataStore.detector.cellCoords['WP06X'] = [dataStore.detector.xMargin+17*g,15*g, dataStore.detector.xMargin+18*g,15*g, dataStore.detector.xMargin+18*g,12*g, dataStore.detector.xMargin+15*g,12*g, dataStore.detector.xMargin+15*g,13*g, dataStore.detector.xMargin+17*g,13*g];
        //Red HPGE
        dataStore.detector.cellCoords['RN00B'] = [dataStore.detector.xMargin+10*g,16*g, dataStore.detector.xMargin+10*g,14*g, dataStore.detector.xMargin+8*g,14*g];
        dataStore.detector.cellCoords['RN00A'] = [dataStore.detector.xMargin+8*g,14*g, dataStore.detector.xMargin+8*g,16*g, dataStore.detector.xMargin+10*g,16*g];
        dataStore.detector.cellCoords['RN00X'] = [dataStore.detector.xMargin+6*g,12*g, dataStore.detector.xMargin+12*g,12*g, dataStore.detector.xMargin+12*g,18*g, dataStore.detector.xMargin+6*g,18*g];
        dataStore.detector.cellCoords['RP04X'] = [dataStore.detector.xMargin+8*g,15*g, dataStore.detector.xMargin+7*g,15*g, dataStore.detector.xMargin+7*g,13*g, dataStore.detector.xMargin+9*g,13*g, dataStore.detector.xMargin+9*g,14*g, dataStore.detector.xMargin+8*g,14*g];
        dataStore.detector.cellCoords['RP01X'] = [dataStore.detector.xMargin+8*g,15*g, dataStore.detector.xMargin+7*g,15*g, dataStore.detector.xMargin+7*g,17*g, dataStore.detector.xMargin+9*g,17*g, dataStore.detector.xMargin+9*g,16*g, dataStore.detector.xMargin+8*g,16*g];
        dataStore.detector.cellCoords['RP02X'] = [dataStore.detector.xMargin+9*g,16*g, dataStore.detector.xMargin+10*g,16*g, dataStore.detector.xMargin+10*g,15*g, dataStore.detector.xMargin+11*g,15*g, dataStore.detector.xMargin+11*g,17*g, dataStore.detector.xMargin+9*g,17*g];
        dataStore.detector.cellCoords['RP03X'] = [dataStore.detector.xMargin+10*g,15*g, dataStore.detector.xMargin+10*g,14*g, dataStore.detector.xMargin+9*g,14*g, dataStore.detector.xMargin+9*g,13*g, dataStore.detector.xMargin+11*g,13*g, dataStore.detector.xMargin+11*g,15*g];
        dataStore.detector.cellCoords['RP08X'] = [dataStore.detector.xMargin+7*g,15*g, dataStore.detector.xMargin+6*g,15*g, dataStore.detector.xMargin+6*g,12*g, dataStore.detector.xMargin+9*g,12*g, dataStore.detector.xMargin+9*g,13*g, dataStore.detector.xMargin+7*g,13*g];
        dataStore.detector.cellCoords['RP05X'] = [dataStore.detector.xMargin+7*g,15*g, dataStore.detector.xMargin+6*g,15*g, dataStore.detector.xMargin+6*g,18*g, dataStore.detector.xMargin+9*g,18*g, dataStore.detector.xMargin+9*g,17*g, dataStore.detector.xMargin+7*g,17*g];
        dataStore.detector.cellCoords['RP06X'] = [dataStore.detector.xMargin+9*g,18*g, dataStore.detector.xMargin+12*g,18*g, dataStore.detector.xMargin+12*g,15*g, dataStore.detector.xMargin+11*g,15*g, dataStore.detector.xMargin+11*g,17*g, dataStore.detector.xMargin+9*g,17*g];
        dataStore.detector.cellCoords['RP07X'] = [dataStore.detector.xMargin+11*g,15*g, dataStore.detector.xMargin+12*g,15*g, dataStore.detector.xMargin+12*g,12*g, dataStore.detector.xMargin+9*g,12*g, dataStore.detector.xMargin+9*g,13*g, dataStore.detector.xMargin+11*g,13*g];
        //Green BGO
        dataStore.detector.cellCoords['GN05X'] = [dataStore.detector.xMargin+5*g,12*g, dataStore.detector.xMargin+4*g,12*g, dataStore.detector.xMargin+4*g,4*g, dataStore.detector.xMargin+12*g,4*g, dataStore.detector.xMargin+12*g,5*g, dataStore.detector.xMargin+5*g,5*g];
        dataStore.detector.cellCoords['GN04X'] = [dataStore.detector.xMargin+3*g,12*g, dataStore.detector.xMargin+2*g,12*g, dataStore.detector.xMargin+2*g,2*g, dataStore.detector.xMargin+3*g,3*g];
        dataStore.detector.cellCoords['GN03X'] = [dataStore.detector.xMargin+2*g,2*g, dataStore.detector.xMargin+12*g,2*g, dataStore.detector.xMargin+12*g,3*g, dataStore.detector.xMargin+3*g,3*g];
        dataStore.detector.cellCoords['GN02X'] = [dataStore.detector.xMargin+1*g,12*g, dataStore.detector.xMargin+0*g,12*g, dataStore.detector.xMargin+0*g,1*g, dataStore.detector.xMargin+1*g,2*g];
        dataStore.detector.cellCoords['GN01X'] = [dataStore.detector.xMargin+1*g,0*g, dataStore.detector.xMargin+12*g,0*g, dataStore.detector.xMargin+12*g,1*g, dataStore.detector.xMargin+2*g,1*g];

        dataStore.detector.cellCoords['GN05A'] = [dataStore.detector.xMargin+5*g,12*g, dataStore.detector.xMargin+4*g,12*g, dataStore.detector.xMargin+4*g,4*g, dataStore.detector.xMargin+5*g,5*g];
        dataStore.detector.cellCoords['GN04A'] = [dataStore.detector.xMargin+3*g,12*g, dataStore.detector.xMargin+2*g,12*g, dataStore.detector.xMargin+2*g,7*g, dataStore.detector.xMargin+3*g,7*g];
        dataStore.detector.cellCoords['GN03A'] = [dataStore.detector.xMargin+7*g,2*g, dataStore.detector.xMargin+7*g,3*g, dataStore.detector.xMargin+12*g,3*g, dataStore.detector.xMargin+12*g,2*g];
        dataStore.detector.cellCoords['GN02A'] = [dataStore.detector.xMargin+1*g,12*g, dataStore.detector.xMargin+0*g,12*g, dataStore.detector.xMargin+0*g,7*g, dataStore.detector.xMargin+1*g,7*g];
        dataStore.detector.cellCoords['GN01A'] = [dataStore.detector.xMargin+7*g,0*g, dataStore.detector.xMargin+12*g,0*g, dataStore.detector.xMargin+12*g,1*g, dataStore.detector.xMargin+7*g,1*g];

        dataStore.detector.cellCoords['GN05B'] = [dataStore.detector.xMargin+4*g,4*g, dataStore.detector.xMargin+12*g,4*g, dataStore.detector.xMargin+12*g,5*g, dataStore.detector.xMargin+5*g,5*g];
        dataStore.detector.cellCoords['GN04B'] = [dataStore.detector.xMargin+3*g,7*g, dataStore.detector.xMargin+2*g,7*g, dataStore.detector.xMargin+2*g,2*g, dataStore.detector.xMargin+3*g,3*g];
        dataStore.detector.cellCoords['GN03B'] = [dataStore.detector.xMargin+2*g,2*g, dataStore.detector.xMargin+7*g,2*g, dataStore.detector.xMargin+7*g,3*g, dataStore.detector.xMargin+3*g,3*g];
        dataStore.detector.cellCoords['GN02B'] = [dataStore.detector.xMargin+1*g,7*g, dataStore.detector.xMargin+0*g,7*g, dataStore.detector.xMargin+0*g,1*g, dataStore.detector.xMargin+1*g,2*g];
        dataStore.detector.cellCoords['GN01B'] = [dataStore.detector.xMargin+1*g,0*g, dataStore.detector.xMargin+7*g,0*g, dataStore.detector.xMargin+7*g,1*g, dataStore.detector.xMargin+2*g,1*g];

        //Blue BGO
        dataStore.detector.cellCoords['BN05X'] = [dataStore.detector.xMargin+12*g,4*g, dataStore.detector.xMargin+12*g,5*g, dataStore.detector.xMargin+19*g,5*g, dataStore.detector.xMargin+19*g,12*g, dataStore.detector.xMargin+20*g,12*g, dataStore.detector.xMargin+20*g,4*g];
        dataStore.detector.cellCoords['BN04X'] = [dataStore.detector.xMargin+12*g,3*g, dataStore.detector.xMargin+12*g,2*g, dataStore.detector.xMargin+22*g,2*g, dataStore.detector.xMargin+21*g,3*g];
        dataStore.detector.cellCoords['BN03X'] = [dataStore.detector.xMargin+21*g,12*g, dataStore.detector.xMargin+22*g,12*g, dataStore.detector.xMargin+22*g,2*g, dataStore.detector.xMargin+21*g,3*g];
        dataStore.detector.cellCoords['BN02X'] = [dataStore.detector.xMargin+12*g,0*g, dataStore.detector.xMargin+12*g,1*g, dataStore.detector.xMargin+22*g,1*g, dataStore.detector.xMargin+23*g,0*g];
        dataStore.detector.cellCoords['BN01X'] = [dataStore.detector.xMargin+24*g,12*g, dataStore.detector.xMargin+23*g,12*g, dataStore.detector.xMargin+23*g,2*g, dataStore.detector.xMargin+24*g,1*g];

        dataStore.detector.cellCoords['BN05A'] = [dataStore.detector.xMargin+12*g,4*g, dataStore.detector.xMargin+12*g,5*g, dataStore.detector.xMargin+19*g,5*g, dataStore.detector.xMargin+20*g,4*g];
        dataStore.detector.cellCoords['BN04A'] = [dataStore.detector.xMargin+12*g,3*g, dataStore.detector.xMargin+12*g,2*g, dataStore.detector.xMargin+17*g,2*g, dataStore.detector.xMargin+17*g,3*g];
        dataStore.detector.cellCoords['BN03A'] = [dataStore.detector.xMargin+21*g,12*g, dataStore.detector.xMargin+22*g,12*g, dataStore.detector.xMargin+22*g,7*g, dataStore.detector.xMargin+21*g,7*g];
        dataStore.detector.cellCoords['BN02A'] = [dataStore.detector.xMargin+12*g,0*g, dataStore.detector.xMargin+12*g,1*g, dataStore.detector.xMargin+17*g,1*g, dataStore.detector.xMargin+17*g,0*g];
        dataStore.detector.cellCoords['BN01A'] = [dataStore.detector.xMargin+24*g,12*g, dataStore.detector.xMargin+23*g,12*g, dataStore.detector.xMargin+23*g,7*g, dataStore.detector.xMargin+24*g,7*g];

        dataStore.detector.cellCoords['BN05B'] = [dataStore.detector.xMargin+19*g,5*g, dataStore.detector.xMargin+19*g,12*g, dataStore.detector.xMargin+20*g,12*g, dataStore.detector.xMargin+20*g,4*g];
        dataStore.detector.cellCoords['BN04B'] = [dataStore.detector.xMargin+17*g,3*g, dataStore.detector.xMargin+17*g,2*g, dataStore.detector.xMargin+22*g,2*g, dataStore.detector.xMargin+21*g,3*g];
        dataStore.detector.cellCoords['BN03B'] = [dataStore.detector.xMargin+21*g,7*g, dataStore.detector.xMargin+22*g,7*g, dataStore.detector.xMargin+22*g,2*g, dataStore.detector.xMargin+21*g,3*g];
        dataStore.detector.cellCoords['BN02B'] = [dataStore.detector.xMargin+17*g,0*g, dataStore.detector.xMargin+17*g,1*g, dataStore.detector.xMargin+22*g,1*g, dataStore.detector.xMargin+23*g,0*g];
        dataStore.detector.cellCoords['BN01B'] = [dataStore.detector.xMargin+24*g,7*g, dataStore.detector.xMargin+23*g,7*g, dataStore.detector.xMargin+23*g,2*g, dataStore.detector.xMargin+24*g,1*g];

        //White BGO
        dataStore.detector.cellCoords['WN05X'] = [dataStore.detector.xMargin+12*g,19*g, dataStore.detector.xMargin+12*g,20*g, dataStore.detector.xMargin+20*g,20*g, dataStore.detector.xMargin+20*g,12*g, dataStore.detector.xMargin+19*g,12*g, dataStore.detector.xMargin+19*g,19*g];
        dataStore.detector.cellCoords['WN04X'] = [dataStore.detector.xMargin+21*g,12*g, dataStore.detector.xMargin+22*g,12*g, dataStore.detector.xMargin+22*g,22*g, dataStore.detector.xMargin+21*g,21*g];
        dataStore.detector.cellCoords['WN03X'] = [dataStore.detector.xMargin+22*g,22*g, dataStore.detector.xMargin+12*g,22*g, dataStore.detector.xMargin+12*g,21*g, dataStore.detector.xMargin+21*g,21*g];
        dataStore.detector.cellCoords['WN02X'] = [dataStore.detector.xMargin+24*g,23*g, dataStore.detector.xMargin+23*g,22*g, dataStore.detector.xMargin+23*g,12*g, dataStore.detector.xMargin+24*g,12*g];
        dataStore.detector.cellCoords['WN01X'] = [dataStore.detector.xMargin+23*g,24*g, dataStore.detector.xMargin+22*g,23*g, dataStore.detector.xMargin+12*g,23*g, dataStore.detector.xMargin+12*g,24*g];

        dataStore.detector.cellCoords['WN05A'] = [dataStore.detector.xMargin+20*g,20*g, dataStore.detector.xMargin+20*g,12*g, dataStore.detector.xMargin+19*g,12*g, dataStore.detector.xMargin+19*g,19*g];
        dataStore.detector.cellCoords['WN04A'] = [dataStore.detector.xMargin+21*g,12*g, dataStore.detector.xMargin+22*g,12*g, dataStore.detector.xMargin+22*g,17*g, dataStore.detector.xMargin+21*g,17*g];
        dataStore.detector.cellCoords['WN03A'] = [dataStore.detector.xMargin+17*g,22*g, dataStore.detector.xMargin+12*g,22*g, dataStore.detector.xMargin+12*g,21*g, dataStore.detector.xMargin+17*g,21*g];
        dataStore.detector.cellCoords['WN02A'] = [dataStore.detector.xMargin+24*g,17*g, dataStore.detector.xMargin+23*g,17*g, dataStore.detector.xMargin+23*g,12*g, dataStore.detector.xMargin+24*g,12*g];
        dataStore.detector.cellCoords['WN01A'] = [dataStore.detector.xMargin+17*g,24*g, dataStore.detector.xMargin+17*g,23*g, dataStore.detector.xMargin+12*g,23*g, dataStore.detector.xMargin+12*g,24*g];

        dataStore.detector.cellCoords['WN05B'] = [dataStore.detector.xMargin+12*g,19*g, dataStore.detector.xMargin+12*g,20*g, dataStore.detector.xMargin+20*g,20*g, dataStore.detector.xMargin+19*g,19*g];
        dataStore.detector.cellCoords['WN04B'] = [dataStore.detector.xMargin+21*g,17*g, dataStore.detector.xMargin+22*g,17*g, dataStore.detector.xMargin+22*g,22*g, dataStore.detector.xMargin+21*g,21*g];
        dataStore.detector.cellCoords['WN03B'] = [dataStore.detector.xMargin+22*g,22*g, dataStore.detector.xMargin+17*g,22*g, dataStore.detector.xMargin+17*g,21*g, dataStore.detector.xMargin+21*g,21*g];
        dataStore.detector.cellCoords['WN02B'] = [dataStore.detector.xMargin+24*g,23*g, dataStore.detector.xMargin+23*g,22*g, dataStore.detector.xMargin+23*g,17*g, dataStore.detector.xMargin+24*g,17*g];
        dataStore.detector.cellCoords['WN01B'] = [dataStore.detector.xMargin+23*g,24*g, dataStore.detector.xMargin+22*g,23*g, dataStore.detector.xMargin+17*g,23*g, dataStore.detector.xMargin+17*g,24*g];

        //Red BGO
        dataStore.detector.cellCoords['RN05X'] = [dataStore.detector.xMargin+12*g,19*g, dataStore.detector.xMargin+12*g,20*g, dataStore.detector.xMargin+4*g,20*g, dataStore.detector.xMargin+4*g,12*g, dataStore.detector.xMargin+5*g,12*g, dataStore.detector.xMargin+5*g,19*g];
        dataStore.detector.cellCoords['RN04X'] = [dataStore.detector.xMargin+12*g,21*g, dataStore.detector.xMargin+12*g,22*g, dataStore.detector.xMargin+2*g,22*g, dataStore.detector.xMargin+3*g,21*g];
        dataStore.detector.cellCoords['RN03X'] = [dataStore.detector.xMargin+3*g,21*g, dataStore.detector.xMargin+2*g,22*g, dataStore.detector.xMargin+2*g,12*g, dataStore.detector.xMargin+3*g,12*g];
        dataStore.detector.cellCoords['RN02X'] = [dataStore.detector.xMargin+12*g,24*g, dataStore.detector.xMargin+12*g,23*g, dataStore.detector.xMargin+2*g,23*g, dataStore.detector.xMargin+1*g,24*g];
        dataStore.detector.cellCoords['RN01X'] = [dataStore.detector.xMargin+0*g,12*g, dataStore.detector.xMargin+1*g,12*g, dataStore.detector.xMargin+1*g,22*g, dataStore.detector.xMargin+0*g,23*g];

        dataStore.detector.cellCoords['RN05A'] = [dataStore.detector.xMargin+12*g,19*g, dataStore.detector.xMargin+12*g,20*g, dataStore.detector.xMargin+4*g,20*g, dataStore.detector.xMargin+5*g,19*g];
        dataStore.detector.cellCoords['RN04A'] = [dataStore.detector.xMargin+12*g,21*g, dataStore.detector.xMargin+12*g,22*g, dataStore.detector.xMargin+7*g,22*g, dataStore.detector.xMargin+7*g,21*g];
        dataStore.detector.cellCoords['RN03A'] = [dataStore.detector.xMargin+3*g,17*g, dataStore.detector.xMargin+2*g,17*g, dataStore.detector.xMargin+2*g,12*g, dataStore.detector.xMargin+3*g,12*g];
        dataStore.detector.cellCoords['RN02A'] = [dataStore.detector.xMargin+12*g,24*g, dataStore.detector.xMargin+12*g,23*g, dataStore.detector.xMargin+7*g,23*g, dataStore.detector.xMargin+7*g,24*g];
        dataStore.detector.cellCoords['RN01A'] = [dataStore.detector.xMargin+0*g,12*g, dataStore.detector.xMargin+1*g,12*g, dataStore.detector.xMargin+1*g,17*g, dataStore.detector.xMargin+0*g,17*g];

        dataStore.detector.cellCoords['RN05B'] = [dataStore.detector.xMargin+4*g,20*g, dataStore.detector.xMargin+4*g,12*g, dataStore.detector.xMargin+5*g,12*g, dataStore.detector.xMargin+5*g,19*g];
        dataStore.detector.cellCoords['RN04B'] = [dataStore.detector.xMargin+7*g,21*g, dataStore.detector.xMargin+7*g,22*g, dataStore.detector.xMargin+2*g,22*g, dataStore.detector.xMargin+3*g,21*g];
        dataStore.detector.cellCoords['RN03B'] = [dataStore.detector.xMargin+3*g,21*g, dataStore.detector.xMargin+2*g,22*g, dataStore.detector.xMargin+2*g,17*g, dataStore.detector.xMargin+3*g,17*g];
        dataStore.detector.cellCoords['RN02B'] = [dataStore.detector.xMargin+7*g,24*g, dataStore.detector.xMargin+7*g,23*g, dataStore.detector.xMargin+2*g,23*g, dataStore.detector.xMargin+1*g,24*g];
        dataStore.detector.cellCoords['RN01B'] = [dataStore.detector.xMargin+0*g,17*g, dataStore.detector.xMargin+1*g,17*g, dataStore.detector.xMargin+1*g,22*g, dataStore.detector.xMargin+0*g,23*g];

    }

    function instantiateSummaryCells(){
        var i, viewIndex, channel;

        //each channel listed in dataStore.detector.channelNames gets an entry in dataStore.detector.cells as a quickdraw object:
        for(i=0; i<dataStore.detector.channelNames.length; i++){
            channel = dataStore.detector.channelNames[i];

            //only doing summaries here
            if(channel.length != dataStore.detector.summaryDepth)
                continue;

            //all summaries go on card 0:
            viewIndex = 0;

            createCell(channel, channel);

            //add the cell to the appropriate main layer
            dataStore.detector.channelLayer[viewIndex].add(dataStore.detector.cells[channel]);
        }

        drawWindowDressing();
        setupErrorPattern();
    }

    function generateSummaryCoords(){
        // generate the coordinates of cell vertices for summary views        

        var baseCoords = {},
            offset = [],
            colors = ['G', 'B', 'W', 'R'],
            g = dataStore.detector.summaryGrid,
            i,j,k, index;



            //TIG04 appears in upper left corner, state these explicitly and build other 15 from there. 
            baseCoords['TIGG'] = [dataStore.detector.summaryXmargin+2*g,2*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+3*g,2*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+3*g,3*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+2*g,3*g+dataStore.detector.summaryYmargin]; 
            baseCoords['TIGB'] = [dataStore.detector.summaryXmargin+3*g,2*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+4*g,2*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+4*g,3*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+3*g,3*g+dataStore.detector.summaryYmargin]; 
            baseCoords['TIGW'] = [dataStore.detector.summaryXmargin+3*g,3*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+4*g,3*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+4*g,4*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+3*g,4*g+dataStore.detector.summaryYmargin]; 
            baseCoords['TIGR'] = [dataStore.detector.summaryXmargin+3*g,3*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+3*g,4*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+2*g,4*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+2*g,3*g+dataStore.detector.summaryYmargin]; 
            baseCoords['TISG'] = [dataStore.detector.summaryXmargin+0*g,0*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+3*g,0*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+3*g,1*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+1*g,1*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+1*g,3*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+0*g,3*g+dataStore.detector.summaryYmargin]; 
            baseCoords['TISB'] = [dataStore.detector.summaryXmargin+3*g,0*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+6*g,0*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+6*g,3*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+5*g,3*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+5*g,1*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+3*g,1*g+dataStore.detector.summaryYmargin]; 
            baseCoords['TISW'] = [dataStore.detector.summaryXmargin+5*g,3*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+6*g,3*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+6*g,6*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+3*g,6*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+3*g,5*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+5*g,5*g+dataStore.detector.summaryYmargin]; 
            baseCoords['TISR'] = [dataStore.detector.summaryXmargin+3*g,5*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+3*g,6*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+0*g,6*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+0*g,3*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+1*g,3*g+dataStore.detector.summaryYmargin, dataStore.detector.summaryXmargin+1*g,5*g+dataStore.detector.summaryYmargin]; 

            //tabulate offsets in [x,y] relative to TIG04:
            offset[1] = [14*g, 0*g];
            offset[2] = [30*g, 0*g];
            offset[3] = [44*g, 0*g];
            offset[4] = [0*g, 0*g];
            offset[5] = [14*g, 7*g];
            offset[6] = [21*g, 7*g];
            offset[7] = [30*g, 7*g];
            offset[8] = [37*g, 7*g];
            offset[9] = [44*g, 7*g];
            offset[10] = [51*g, 7*g];
            offset[11] = [0*g, 7*g];
            offset[12] = [7*g, 7*g];
            offset[13] = [14*g, 14*g];
            offset[14] = [30*g, 14*g];
            offset[15] = [44*g, 14*g];
            offset[16] = [0*g, 14*g];

            //add offsets to the base values to build all 16 summaries
            for(i=1; i<offset.length; i++ ){
                index = (i<10) ? '0'+i : i;
                for(j=0; j<colors.length; j++){
                    
                    //HPGE summary coords
                    dataStore.detector.cellCoords['TIG' + index + colors[j]] = [];
                    for(k=0; k<baseCoords['TIG'+colors[j]].length; k++)
                        dataStore.detector.cellCoords['TIG' + index + colors[j]][k] = baseCoords['TIG'+colors[j]][k];
                    //now add offsets:
                    for(k=0; k<baseCoords['TIG'+colors[j]].length; k++){
                        if(k%2) //odd == y coords
                            dataStore.detector.cellCoords['TIG' + index + colors[j]][k] += offset[i][1];
                        else
                            dataStore.detector.cellCoords['TIG' + index + colors[j]][k] += offset[i][0];
                    }
                    
                    //and again for BGO summary coords
                    dataStore.detector.cellCoords['TIS' + index + colors[j]] = [];
                    for(k=0; k<baseCoords['TIS'+colors[j]].length; k++)
                        dataStore.detector.cellCoords['TIS' + index + colors[j]][k] = baseCoords['TIS'+colors[j]][k];
                    //now add offsets:
                    for(k=0; k<baseCoords['TIS'+colors[j]].length; k++){
                        if(k%2) //odd == y coords
                            dataStore.detector.cellCoords['TIS' + index + colors[j]][k] += offset[i][1];
                        else
                            dataStore.detector.cellCoords['TIS' + index + colors[j]][k] += offset[i][0];
                    } 

                }
            }
    }

    function drawWindowDressing(){
        //set up the window dressing for the summary view (beam arrow, hemisphere labels...)
        var southLabel, northLabel,
            fontSize = 28;

        //label hemispheres and beam direction
        southLabel = new qdtext('South Hemisphere', {
            x: 0,
            y: 0,
            fontSize: fontSize,
            typeface: 'Arial',
            fillStyle: '#999999'
        });
        dataStore.detector.channelLayer[0].add(southLabel);
        //center label nicely
        southLabel.x = 43.5*dataStore.detector.summaryGrid - southLabel.getTextMetric().width/2;
        southLabel.y = 0.8*dataStore.detector.height - fontSize;

        northLabel = new qdtext('North Hemisphere', {
            x: 0,
            y: 0,
            fontSize: fontSize,
            typeface: 'Arial',
            fillStyle: '#999999'
        });
        dataStore.detector.channelLayer[0].add(northLabel);
        //center label nicely
        northLabel.x = 13.5*dataStore.detector.summaryGrid - northLabel.getTextMetric().width/2;
        northLabel.y = 0.8*dataStore.detector.height - fontSize;      

        //beam arrow
        dataStore.detector.channelLayer[0].add(
            drawArrow(
                28.5*dataStore.detector.summaryGrid, dataStore.detector.height*0.8, 
                28.5*dataStore.detector.summaryGrid, 2*dataStore.detector.summaryGrid
            )
        )

    }

    function createCell(channel, cellKey){
        // reimplemented for griffin to accommodate highly redundant geometry between views
        // stamp out a cell for the given channel and coordinate array key
        // note that cell still has to be added to an appropriate layer on a per-detector basis.

        var poly;

        poly = generatePath(
            dataStore.detector.cellCoords[cellKey],
            0,
            0
        ),
        dataStore.detector.cells[channel] = new qdshape(poly, {
            id: channel,
            fillStyle: '#000000',
            strokeStyle: dataStore.frameColor,
            lineWidth: dataStore.frameLineWidth,
            z: 1
        });

        //set up the tooltip listeners:
        dataStore.detector.cells[channel].mouseover = writeTooltip.bind(null, channel);
        dataStore.detector.cells[channel].mousemove = moveTooltip;
        dataStore.detector.cells[channel].mouseout = hideTooltip;

        //set up onclick listeners:
        dataStore.detector.cells[channel].click = clickCell.bind(null, channel);
    }

    function isHV(cellName){
        // is cellName an HV channel?

        var HVcell;

        if(cellName.slice(0,3) == 'TIG' && cellName.slice(6,10) == 'N00X') HVcell = true;
        else if(cellName.slice(0,3) == 'TIS' && cellName[9] != 'X') HVcell = true;
        else HVcell = false;

        return HVcell;
    }

    function isADCChannel(cellName){
        // is cellName a rate / threshold channel?

        return !isHV(cellName);
    }

    function inCurrentView(channelName){
        //is channelName currently displayed on screen?

        var currentViewIndex = dataStore.detector.views.indexOf(dataStore.detector.currentView);

        //summary
        if(currentViewIndex == 0 && channelName.length==6)
            return true;
        else if(currentViewIndex == 0 && channelName.length!=6)
            return false;
        //detail
        if(currentViewIndex == parseInt(channelName.slice(3,5),10))
            return true;
        else
            return false;
    }

    function channelInSubview(channelName, subview){
        //should channelName have information relevant to subview?

        var isHPGE = channelName.slice(0,3) == 'TIG',
            isBGO = channelName.slice(0,3) == 'TIS',
            last = channelName.slice(9);

        if(subview=='HV'){
            return (isHPGE && last=='X') || (isBGO && (last == 'A' || last == 'B'))
        } else
            return (isBGO && last=='X') || (isHPGE && (last == 'A' || last == 'B'))
    }

    function clickCell(cellName){
        var viewSelector = document.getElementById('detectorView');

        //summary -> details
        if(cellName.length == 6){
            viewSelector.value = 'TIG' + cellName.slice(3,5);
            viewSelector.onchange();
            hideTooltip();
            return;
        }

        // let everyone know this cell was clicked
        broadcastCellClick(cellName);

        // highlight the cell
        highlightCell(dataStore.detector.cells[cellName]);
    }

</script>