mixin head
    script(type='text/javascript' src='static/lib/brick-1.0.1.byob.min.js')
    script(type='text/javascript' src='static/lib/kinetic-5.0.1.hackfix.js')
    script(type='text/javascript' src='static/utilities/colorScales.js')
    script(type='text/javascript' src='static/utilities/fetchingData.js')
    script(type='text/javascript' src='static/utilities/helpers.js')
    script(type='text/javascript' src='static/xTags/branding/xBasic.js')

    link(rel="stylesheet" type="text/css" href='static/lib/brick-1.0.1.byob.min.css')
    link(rel="stylesheet" type="text/css" href='static/xTags/branding/xBasic.css')
    link(rel="stylesheet" type="text/css" href='static/main.css')