<link rel="stylesheet" href="detector-griffin.css">

<template id='detector-griffin'>
    <div id='visualizationCollection'>
        {{#views}}
            <div id='{{.}}Wrap' class='visWrap'></div>
        {{/views}}
    </div>
</template>

<script>
    function parameterizeGRIFFIN(){
        // determine all the parameters needed for GRIFFIN's visualization widget that can be calculated before HTML injection, and park them on dataStore.griffin
        var i, j, k;

        dataStore.griffin = {}

        // build up names of griffin detectors
        dataStore.griffin.HPGEprefixes = [];
        dataStore.griffin.BGOprefixes = [];
        dataStore.griffin.colors = ['R', 'G', 'B', 'W'];
        dataStore.griffin.HPGEcellCodes = ['N00A', 'N00B', 'N00X'];
        dataStore.griffin.BGOcellCodes  = ['N01X', 'N02X', 'N03X', 'N04X', 'N05X',
                                           'N01A', 'N02A', 'N03A', 'N04A', 'N05A',
                                           'N01B', 'N02B', 'N03B', 'N04B', 'N05B'];
        for(i=1; i<17; i++){
            j = (i<10) ? '0'+i : i;
            dataStore.griffin.HPGEprefixes.push('GRG' + j);
            dataStore.griffin.BGOprefixes.push('GRS' + j);
        }

        //build up channel names
        dataStore.griffin.channelNames = [];
        for(i=0; i<dataStore.griffin.HPGEprefixes.length; i++){
            for(j=0; j<dataStore.griffin.colors.length; j++){
                for(k=0; k<dataStore.griffin.HPGEcellCodes.length; k++){
                    dataStore.griffin.channelNames.push(dataStore.griffin.HPGEprefixes[i] + dataStore.griffin.colors[j] + dataStore.griffin.HPGEcellCodes[k]);
                }
                for(k=0; k<dataStore.griffin.BGOcellCodes.length; k++){
                    dataStore.griffin.channelNames.push(dataStore.griffin.BGOprefixes[i] + dataStore.griffin.colors[j] + dataStore.griffin.BGOcellCodes[k]);
                }
            }
        }
        //build up summary channel names
        for(i=0; i<16; i++){
            for(j=0; j<4; j++){
                dataStore.griffin.channelNames.push(dataStore.griffin.HPGEprefixes[i] + dataStore.griffin.colors[j]);
                dataStore.griffin.channelNames.push(dataStore.griffin.BGOprefixes[i] + dataStore.griffin.colors[j]);
            }
        }

        // view labels
        dataStore.griffin.views = ['summary'].concat(dataStore.griffin.HPGEprefixes);
    }

    function setupGRIFFIN(){
        // once the HTML is in place, finish setting up the GRIFFIN visualization. 
        var i;

        // declare some post-html-rendering parameters:
        dataStore.griffin.width = document.getElementById('visualizationCollection').offsetWidth;
        dataStore.griffin.height = 2/3*dataStore.griffin.width;
        //GRIFFIN clovers are laid out on a 24x24 square grid.
        dataStore.griffin.grid = dataStore.griffin.height*0.8/24;
        dataStore.griffin.xMargin = (dataStore.griffin.width - dataStore.griffin.grid*24)/2
        //GRIFFIN summary is laid out on a 58x20 square grid.
        dataStore.griffin.summaryGrid = Math.min(0.8*dataStore.griffin.height/20, dataStore.griffin.width/58);
        dataStore.griffin.summaryXmargin = (dataStore.griffin.width - 58*dataStore.griffin.summaryGrid)/2;
        dataStore.griffin.summaryYmargin = (0.8*dataStore.griffin.height - 20*dataStore.griffin.summaryGrid)/2;

        // set up kinetic framework - extract to generic function?
        dataStore.griffin.stage = [];
        dataStore.griffin.channelLayer = [];
        dataStore.griffin.HVLayer = [];
        dataStore.griffin.scaleLayer = [];
        for(i=0; i<dataStore.griffin.views.length; i++){
            dataStore.griffin.stage[i] = new Kinetic.Stage({
                container: dataStore.griffin.views[i] + 'Wrap',
                width: dataStore.griffin.width,
                height: dataStore.griffin.height
            });
            dataStore.griffin.channelLayer[i] = new Kinetic.Layer();
            dataStore.griffin.HVLayer[i] = new Kinetic.Layer();
            dataStore.griffin.scaleLayer[i] = new Kinetic.Layer();

            dataStore.griffin.stage[i].add(dataStore.griffin.channelLayer[i]);
            dataStore.griffin.stage[i].add(dataStore.griffin.HVLayer[i]);
            dataStore.griffin.stage[i].add(dataStore.griffin.scaleLayer[i]);
        }

        // set up the cells
        instantiateCells();
        instantiateSummaryCells();

        for(i=0; i<dataStore.griffin.stage.length; i++){
            dataStore.griffin.stage[i].draw();
        }
    }

    function instantiateCells(){
        // decalre the kinetic cells for the detail views of each clover, and plug in interactions.

        var i, viewIndex, cellKey,
            g = dataStore.griffin.grid, 
            cellCoords = {};

        //vertices of cells, keyed by last 5 characters 
        //Red HPGE
        cellCoords['BN00A'] = [dataStore.griffin.xMargin+12*g,6*g, dataStore.griffin.xMargin+6*g,6*g, dataStore.griffin.xMargin+6*g,12*g];
        cellCoords['BN00B'] = [dataStore.griffin.xMargin+12*g,6*g, dataStore.griffin.xMargin+12*g,12*g, dataStore.griffin.xMargin+6*g,12*g];
        cellCoords['BN00X'] = [dataStore.griffin.xMargin+12*g,6*g, dataStore.griffin.xMargin+6*g,6*g, dataStore.griffin.xMargin+6*g,12*g, dataStore.griffin.xMargin+12*g,12*g];
        //Green HPGE
        cellCoords['WN00A'] = [dataStore.griffin.xMargin+12*g,6*g, dataStore.griffin.xMargin+18*g,6*g, dataStore.griffin.xMargin+18*g,12*g];
        cellCoords['WN00B'] = [dataStore.griffin.xMargin+12*g,6*g, dataStore.griffin.xMargin+12*g,12*g, dataStore.griffin.xMargin+18*g,12*g];
        cellCoords['WN00X'] = [dataStore.griffin.xMargin+12*g,6*g, dataStore.griffin.xMargin+18*g,6*g, dataStore.griffin.xMargin+18*g,12*g, dataStore.griffin.xMargin+12*g,12*g];
        //Blue HPGE
        cellCoords['RN00A'] = [dataStore.griffin.xMargin+18*g,12*g, dataStore.griffin.xMargin+18*g,18*g, dataStore.griffin.xMargin+12*g,18*g];
        cellCoords['RN00B'] = [dataStore.griffin.xMargin+18*g,12*g, dataStore.griffin.xMargin+12*g,12*g, dataStore.griffin.xMargin+12*g,18*g];
        cellCoords['RN00X'] = [dataStore.griffin.xMargin+18*g,12*g, dataStore.griffin.xMargin+18*g,18*g, dataStore.griffin.xMargin+12*g,18*g, dataStore.griffin.xMargin+12*g,12*g];
        //White HPGE
        cellCoords['GN00A'] = [dataStore.griffin.xMargin+12*g,18*g, dataStore.griffin.xMargin+6*g,18*g, dataStore.griffin.xMargin+6*g,12*g];
        cellCoords['GN00B'] = [dataStore.griffin.xMargin+12*g,18*g, dataStore.griffin.xMargin+12*g,12*g, dataStore.griffin.xMargin+6*g,12*g];
        cellCoords['GN00X'] = [dataStore.griffin.xMargin+12*g,18*g, dataStore.griffin.xMargin+6*g,18*g, dataStore.griffin.xMargin+6*g,12*g, dataStore.griffin.xMargin+12*g,12*g];
        //Red BGO
        cellCoords['BN05X'] = [dataStore.griffin.xMargin+5*g,12*g, dataStore.griffin.xMargin+4*g,12*g, dataStore.griffin.xMargin+4*g,4*g, dataStore.griffin.xMargin+12*g,4*g, dataStore.griffin.xMargin+12*g,5*g, dataStore.griffin.xMargin+5*g,5*g];
        cellCoords['BN04X'] = [dataStore.griffin.xMargin+3*g,12*g, dataStore.griffin.xMargin+2*g,12*g, dataStore.griffin.xMargin+2*g,2*g, dataStore.griffin.xMargin+3*g,3*g];
        cellCoords['BN03X'] = [dataStore.griffin.xMargin+2*g,2*g, dataStore.griffin.xMargin+12*g,2*g, dataStore.griffin.xMargin+12*g,3*g, dataStore.griffin.xMargin+3*g,3*g];
        cellCoords['BN02X'] = [dataStore.griffin.xMargin+1*g,12*g, dataStore.griffin.xMargin+0*g,12*g, dataStore.griffin.xMargin+0*g,1*g, dataStore.griffin.xMargin+1*g,2*g];
        cellCoords['BN01X'] = [dataStore.griffin.xMargin+1*g,0*g, dataStore.griffin.xMargin+12*g,0*g, dataStore.griffin.xMargin+12*g,1*g, dataStore.griffin.xMargin+2*g,1*g];

        cellCoords['BN05A'] = [dataStore.griffin.xMargin+5*g,12*g, dataStore.griffin.xMargin+4*g,12*g, dataStore.griffin.xMargin+4*g,4*g, dataStore.griffin.xMargin+5*g,5*g];
        cellCoords['BN04A'] = [dataStore.griffin.xMargin+3*g,12*g, dataStore.griffin.xMargin+2*g,12*g, dataStore.griffin.xMargin+2*g,7*g, dataStore.griffin.xMargin+3*g,7*g];
        cellCoords['BN03A'] = [dataStore.griffin.xMargin+7*g,2*g, dataStore.griffin.xMargin+7*g,3*g, dataStore.griffin.xMargin+12*g,3*g, dataStore.griffin.xMargin+12*g,2*g];
        cellCoords['BN02A'] = [dataStore.griffin.xMargin+1*g,12*g, dataStore.griffin.xMargin+0*g,12*g, dataStore.griffin.xMargin+0*g,7*g, dataStore.griffin.xMargin+1*g,7*g];
        cellCoords['BN01A'] = [dataStore.griffin.xMargin+7*g,0*g, dataStore.griffin.xMargin+12*g,0*g, dataStore.griffin.xMargin+12*g,1*g, dataStore.griffin.xMargin+7*g,1*g];

        cellCoords['BN05B'] = [dataStore.griffin.xMargin+4*g,4*g, dataStore.griffin.xMargin+12*g,4*g, dataStore.griffin.xMargin+12*g,5*g, dataStore.griffin.xMargin+5*g,5*g];
        cellCoords['BN04B'] = [dataStore.griffin.xMargin+3*g,7*g, dataStore.griffin.xMargin+2*g,7*g, dataStore.griffin.xMargin+2*g,2*g, dataStore.griffin.xMargin+3*g,3*g];
        cellCoords['BN03B'] = [dataStore.griffin.xMargin+2*g,2*g, dataStore.griffin.xMargin+7*g,2*g, dataStore.griffin.xMargin+7*g,3*g, dataStore.griffin.xMargin+3*g,3*g];
        cellCoords['BN02B'] = [dataStore.griffin.xMargin+1*g,7*g, dataStore.griffin.xMargin+0*g,7*g, dataStore.griffin.xMargin+0*g,1*g, dataStore.griffin.xMargin+1*g,2*g];
        cellCoords['BN01B'] = [dataStore.griffin.xMargin+1*g,0*g, dataStore.griffin.xMargin+7*g,0*g, dataStore.griffin.xMargin+7*g,1*g, dataStore.griffin.xMargin+2*g,1*g];

        //Greem BGO
        cellCoords['WN05X'] = [dataStore.griffin.xMargin+12*g,4*g, dataStore.griffin.xMargin+12*g,5*g, dataStore.griffin.xMargin+19*g,5*g, dataStore.griffin.xMargin+19*g,12*g, dataStore.griffin.xMargin+20*g,12*g, dataStore.griffin.xMargin+20*g,4*g];
        cellCoords['WN04X'] = [dataStore.griffin.xMargin+12*g,3*g, dataStore.griffin.xMargin+12*g,2*g, dataStore.griffin.xMargin+22*g,2*g, dataStore.griffin.xMargin+21*g,3*g];
        cellCoords['WN03X'] = [dataStore.griffin.xMargin+21*g,12*g, dataStore.griffin.xMargin+22*g,12*g, dataStore.griffin.xMargin+22*g,2*g, dataStore.griffin.xMargin+21*g,3*g];
        cellCoords['WN02X'] = [dataStore.griffin.xMargin+12*g,0*g, dataStore.griffin.xMargin+12*g,1*g, dataStore.griffin.xMargin+22*g,1*g, dataStore.griffin.xMargin+23*g,0*g];
        cellCoords['WN01X'] = [dataStore.griffin.xMargin+24*g,12*g, dataStore.griffin.xMargin+23*g,12*g, dataStore.griffin.xMargin+23*g,2*g, dataStore.griffin.xMargin+24*g,1*g];

        cellCoords['WN05A'] = [dataStore.griffin.xMargin+12*g,4*g, dataStore.griffin.xMargin+12*g,5*g, dataStore.griffin.xMargin+19*g,5*g, dataStore.griffin.xMargin+20*g,4*g];
        cellCoords['WN04A'] = [dataStore.griffin.xMargin+12*g,3*g, dataStore.griffin.xMargin+12*g,2*g, dataStore.griffin.xMargin+17*g,2*g, dataStore.griffin.xMargin+17*g,3*g];
        cellCoords['WN03A'] = [dataStore.griffin.xMargin+21*g,12*g, dataStore.griffin.xMargin+22*g,12*g, dataStore.griffin.xMargin+22*g,7*g, dataStore.griffin.xMargin+21*g,7*g];
        cellCoords['WN02A'] = [dataStore.griffin.xMargin+12*g,0*g, dataStore.griffin.xMargin+12*g,1*g, dataStore.griffin.xMargin+17*g,1*g, dataStore.griffin.xMargin+17*g,0*g];
        cellCoords['WN01A'] = [dataStore.griffin.xMargin+24*g,12*g, dataStore.griffin.xMargin+23*g,12*g, dataStore.griffin.xMargin+23*g,7*g, dataStore.griffin.xMargin+24*g,7*g];

        cellCoords['WN05B'] = [dataStore.griffin.xMargin+19*g,5*g, dataStore.griffin.xMargin+19*g,12*g, dataStore.griffin.xMargin+20*g,12*g, dataStore.griffin.xMargin+20*g,4*g];
        cellCoords['WN04B'] = [dataStore.griffin.xMargin+17*g,3*g, dataStore.griffin.xMargin+17*g,2*g, dataStore.griffin.xMargin+22*g,2*g, dataStore.griffin.xMargin+21*g,3*g];
        cellCoords['WN03B'] = [dataStore.griffin.xMargin+21*g,7*g, dataStore.griffin.xMargin+22*g,7*g, dataStore.griffin.xMargin+22*g,2*g, dataStore.griffin.xMargin+21*g,3*g];
        cellCoords['WN02B'] = [dataStore.griffin.xMargin+17*g,0*g, dataStore.griffin.xMargin+17*g,1*g, dataStore.griffin.xMargin+22*g,1*g, dataStore.griffin.xMargin+23*g,0*g];
        cellCoords['WN01B'] = [dataStore.griffin.xMargin+24*g,7*g, dataStore.griffin.xMargin+23*g,7*g, dataStore.griffin.xMargin+23*g,2*g, dataStore.griffin.xMargin+24*g,1*g];

        //Blue BGO
        cellCoords['RN05X'] = [dataStore.griffin.xMargin+12*g,19*g, dataStore.griffin.xMargin+12*g,20*g, dataStore.griffin.xMargin+20*g,20*g, dataStore.griffin.xMargin+20*g,12*g, dataStore.griffin.xMargin+19*g,12*g, dataStore.griffin.xMargin+19*g,19*g];
        cellCoords['RN04X'] = [dataStore.griffin.xMargin+21*g,12*g, dataStore.griffin.xMargin+22*g,12*g, dataStore.griffin.xMargin+22*g,22*g, dataStore.griffin.xMargin+21*g,21*g];
        cellCoords['RN03X'] = [dataStore.griffin.xMargin+22*g,22*g, dataStore.griffin.xMargin+12*g,22*g, dataStore.griffin.xMargin+12*g,21*g, dataStore.griffin.xMargin+21*g,21*g];
        cellCoords['RN02X'] = [dataStore.griffin.xMargin+24*g,23*g, dataStore.griffin.xMargin+23*g,22*g, dataStore.griffin.xMargin+23*g,12*g, dataStore.griffin.xMargin+24*g,12*g];
        cellCoords['RN01X'] = [dataStore.griffin.xMargin+23*g,24*g, dataStore.griffin.xMargin+22*g,23*g, dataStore.griffin.xMargin+12*g,23*g, dataStore.griffin.xMargin+12*g,24*g];

        cellCoords['RN05A'] = [dataStore.griffin.xMargin+20*g,20*g, dataStore.griffin.xMargin+20*g,12*g, dataStore.griffin.xMargin+19*g,12*g, dataStore.griffin.xMargin+19*g,19*g];
        cellCoords['RN04A'] = [dataStore.griffin.xMargin+21*g,12*g, dataStore.griffin.xMargin+22*g,12*g, dataStore.griffin.xMargin+22*g,17*g, dataStore.griffin.xMargin+21*g,17*g];
        cellCoords['RN03A'] = [dataStore.griffin.xMargin+17*g,22*g, dataStore.griffin.xMargin+12*g,22*g, dataStore.griffin.xMargin+12*g,21*g, dataStore.griffin.xMargin+17*g,21*g];
        cellCoords['RN02A'] = [dataStore.griffin.xMargin+24*g,17*g, dataStore.griffin.xMargin+23*g,17*g, dataStore.griffin.xMargin+23*g,12*g, dataStore.griffin.xMargin+24*g,12*g];
        cellCoords['RN01A'] = [dataStore.griffin.xMargin+17*g,24*g, dataStore.griffin.xMargin+17*g,23*g, dataStore.griffin.xMargin+12*g,23*g, dataStore.griffin.xMargin+12*g,24*g];

        cellCoords['RN05B'] = [dataStore.griffin.xMargin+12*g,19*g, dataStore.griffin.xMargin+12*g,20*g, dataStore.griffin.xMargin+20*g,20*g, dataStore.griffin.xMargin+19*g,19*g];
        cellCoords['RN04B'] = [dataStore.griffin.xMargin+21*g,17*g, dataStore.griffin.xMargin+22*g,17*g, dataStore.griffin.xMargin+22*g,22*g, dataStore.griffin.xMargin+21*g,21*g];
        cellCoords['RN03B'] = [dataStore.griffin.xMargin+22*g,22*g, dataStore.griffin.xMargin+17*g,22*g, dataStore.griffin.xMargin+17*g,21*g, dataStore.griffin.xMargin+21*g,21*g];
        cellCoords['RN02B'] = [dataStore.griffin.xMargin+24*g,23*g, dataStore.griffin.xMargin+23*g,22*g, dataStore.griffin.xMargin+23*g,17*g, dataStore.griffin.xMargin+24*g,17*g];
        cellCoords['RN01B'] = [dataStore.griffin.xMargin+23*g,24*g, dataStore.griffin.xMargin+22*g,23*g, dataStore.griffin.xMargin+17*g,23*g, dataStore.griffin.xMargin+17*g,24*g];

        //White BGO
        cellCoords['GN05X'] = [dataStore.griffin.xMargin+12*g,19*g, dataStore.griffin.xMargin+12*g,20*g, dataStore.griffin.xMargin+4*g,20*g, dataStore.griffin.xMargin+4*g,12*g, dataStore.griffin.xMargin+5*g,12*g, dataStore.griffin.xMargin+5*g,19*g];
        cellCoords['GN04X'] = [dataStore.griffin.xMargin+12*g,21*g, dataStore.griffin.xMargin+12*g,22*g, dataStore.griffin.xMargin+2*g,22*g, dataStore.griffin.xMargin+3*g,21*g];
        cellCoords['GN03X'] = [dataStore.griffin.xMargin+3*g,21*g, dataStore.griffin.xMargin+2*g,22*g, dataStore.griffin.xMargin+2*g,12*g, dataStore.griffin.xMargin+3*g,12*g];
        cellCoords['GN02X'] = [dataStore.griffin.xMargin+12*g,24*g, dataStore.griffin.xMargin+12*g,23*g, dataStore.griffin.xMargin+2*g,23*g, dataStore.griffin.xMargin+1*g,24*g];
        cellCoords['GN01X'] = [dataStore.griffin.xMargin+0*g,12*g, dataStore.griffin.xMargin+1*g,12*g, dataStore.griffin.xMargin+1*g,22*g, dataStore.griffin.xMargin+0*g,23*g];

        cellCoords['GN05A'] = [dataStore.griffin.xMargin+12*g,19*g, dataStore.griffin.xMargin+12*g,20*g, dataStore.griffin.xMargin+4*g,20*g, dataStore.griffin.xMargin+5*g,19*g];
        cellCoords['GN04A'] = [dataStore.griffin.xMargin+12*g,21*g, dataStore.griffin.xMargin+12*g,22*g, dataStore.griffin.xMargin+7*g,22*g, dataStore.griffin.xMargin+7*g,21*g];
        cellCoords['GN03A'] = [dataStore.griffin.xMargin+3*g,17*g, dataStore.griffin.xMargin+2*g,17*g, dataStore.griffin.xMargin+2*g,12*g, dataStore.griffin.xMargin+3*g,12*g];
        cellCoords['GN02A'] = [dataStore.griffin.xMargin+12*g,24*g, dataStore.griffin.xMargin+12*g,23*g, dataStore.griffin.xMargin+7*g,23*g, dataStore.griffin.xMargin+7*g,24*g];
        cellCoords['GN01A'] = [dataStore.griffin.xMargin+0*g,12*g, dataStore.griffin.xMargin+1*g,12*g, dataStore.griffin.xMargin+1*g,17*g, dataStore.griffin.xMargin+0*g,17*g];

        cellCoords['GN05B'] = [dataStore.griffin.xMargin+4*g,20*g, dataStore.griffin.xMargin+4*g,12*g, dataStore.griffin.xMargin+5*g,12*g, dataStore.griffin.xMargin+5*g,19*g];
        cellCoords['GN04B'] = [dataStore.griffin.xMargin+7*g,21*g, dataStore.griffin.xMargin+7*g,22*g, dataStore.griffin.xMargin+2*g,22*g, dataStore.griffin.xMargin+3*g,21*g];
        cellCoords['GN03B'] = [dataStore.griffin.xMargin+3*g,21*g, dataStore.griffin.xMargin+2*g,22*g, dataStore.griffin.xMargin+2*g,17*g, dataStore.griffin.xMargin+3*g,17*g];
        cellCoords['GN02B'] = [dataStore.griffin.xMargin+7*g,24*g, dataStore.griffin.xMargin+7*g,23*g, dataStore.griffin.xMargin+2*g,23*g, dataStore.griffin.xMargin+1*g,24*g];
        cellCoords['GN01B'] = [dataStore.griffin.xMargin+0*g,17*g, dataStore.griffin.xMargin+1*g,17*g, dataStore.griffin.xMargin+1*g,22*g, dataStore.griffin.xMargin+0*g,23*g];

        //each channel listed in dataStore.griffin.channelNames gets an entry in dataStore.griffin.cells as a Kinetic object:
        dataStore.griffin.cells = {};
        for(i=0; i<dataStore.griffin.channelNames.length; i++){
            //not dealing with summary channels here, skip them:
            if(dataStore.griffin.channelNames[i].length < 10)
                continue;

            viewIndex = parseInt( dataStore.griffin.channelNames[i].slice(3,5) ,10);
            cellKey = dataStore.griffin.channelNames[i].slice(5);

            dataStore.griffin.cells[dataStore.griffin.channelNames[i]] = new Kinetic.Line({
                points: cellCoords[cellKey],
                fill: '#000000',
                fillPatternOffsetX: 100*Math.random(),
                fillPatternOffsetY: 100*Math.random(),
                stroke: dataStore.frameColor,
                strokeWidth: dataStore.frameLineWidth,
                closed: true,
                listening: true
            });

            //set up the tooltip listeners:
            // dataStore.griffin.cells[dataStore.griffin.channelNames[i]].on('mouseover', dataStore.griffin.writeTooltip.bind(dataStore.griffin, i) );
            // dataStore.griffin.cells[dataStore.griffin.channelNames[i]].on('mousemove', dataStore.griffin.moveTooltip.bind(dataStore.griffin) );
            // dataStore.griffin.cells[dataStore.griffin.channelNames[i]].on('mouseout', dataStore.griffin.writeTooltip.bind(dataStore.griffin, -1));

            //set up onclick listeners:
            // dataStore.griffin.cells[dataStore.griffin.channelNames[i]].on('click', dataStore.griffin.clickCell.bind(dataStore.griffin, dataStore.griffin.channelNames[i]) );

            //add the cell to the appropriate main layer or HV layer
            if(griffinIsHV(dataStore.griffin.channelNames[i]))
                dataStore.griffin.HVLayer[viewIndex].add(dataStore.griffin.cells[dataStore.griffin.channelNames[i]])
            else
                dataStore.griffin.channelLayer[viewIndex].add(dataStore.griffin.cells[dataStore.griffin.channelNames[i]]);


        }
    }

    function instantiateSummaryCells(){
        var cellCoords = {},
            baseCoords = {},
            offset = [],
            colors = ['G', 'B', 'W', 'R'],
            i, j, k, index, viewIndex,
            g = dataStore.griffin.summaryGrid,
            westLabel, eastLabel, beamArrow;

        //analog of dataStore.griffin.cells
        dataStore.griffin.summaryCells = {};

        //GRG04 appears in upper left, one position left of the corner, state these explicitly and build other 15 from there. 
        baseCoords['GRGB'] = [dataStore.griffin.summaryXmargin+9*g,2*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+10*g,2*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+10*g,3*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+9*g,3*g+dataStore.griffin.summaryYmargin]; 
        baseCoords['GRGW'] = [dataStore.griffin.summaryXmargin+10*g,2*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+11*g,2*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+11*g,3*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+10*g,3*g+dataStore.griffin.summaryYmargin]; 
        baseCoords['GRGR'] = [dataStore.griffin.summaryXmargin+10*g,3*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+11*g,3*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+11*g,4*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+10*g,4*g+dataStore.griffin.summaryYmargin]; 
        baseCoords['GRGG'] = [dataStore.griffin.summaryXmargin+10*g,3*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+10*g,4*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+9*g,4*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+9*g,3*g+dataStore.griffin.summaryYmargin]; 
        baseCoords['GRSB'] = [dataStore.griffin.summaryXmargin+7*g,0*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+10*g,0*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+10*g,1*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+8*g,1*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+8*g,3*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+7*g,3*g+dataStore.griffin.summaryYmargin]; 
        baseCoords['GRSW'] = [dataStore.griffin.summaryXmargin+10*g,0*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+13*g,0*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+13*g,3*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+12*g,3*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+12*g,1*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+10*g,1*g+dataStore.griffin.summaryYmargin]; 
        baseCoords['GRSR'] = [dataStore.griffin.summaryXmargin+12*g,3*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+13*g,3*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+13*g,6*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+10*g,6*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+10*g,5*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+12*g,5*g+dataStore.griffin.summaryYmargin]; 
        baseCoords['GRSG'] = [dataStore.griffin.summaryXmargin+10*g,5*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+10*g,6*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+7*g,6*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+7*g,3*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+8*g,3*g+dataStore.griffin.summaryYmargin, dataStore.griffin.summaryXmargin+8*g,5*g+dataStore.griffin.summaryYmargin]; 

        //tabulate offsets in [x,y] relative to GRG04:
        offset[1] = [14*g, 0*g];
        offset[2] = [30*g, 0*g];
        offset[3] = [44*g, 0*g];
        offset[4] = [0*g, 0*g];
        offset[5] = [7*g, 7*g];
        offset[6] = [14*g, 7*g];
        offset[7] = [23*g, 7*g];
        offset[8] = [30*g, 7*g];
        offset[9] = [37*g, 7*g];
        offset[10] = [44*g, 7*g];
        offset[11] = [-7*g, 7*g];
        offset[12] = [0*g, 7*g];
        offset[13] = [14*g, 14*g];
        offset[14] = [30*g, 14*g];
        offset[15] = [44*g, 14*g];
        offset[16] = [0*g, 14*g];

        //add offsets to the base values to build all 16 summaries
        for(i=1; i<offset.length; i++ ){
            index = (i<10) ? '0'+i : i;
            for(j=0; j<colors.length; j++){
                
                //HPGE summary coords
                cellCoords['GRG' + index + colors[j]] = [];
                for(k=0; k<baseCoords['GRG'+colors[j]].length; k++)
                    cellCoords['GRG' + index + colors[j]][k] = baseCoords['GRG'+colors[j]][k];
                //now add offsets:
                for(k=0; k<baseCoords['GRG'+colors[j]].length; k++){
                    if(k%2) //odd == y coords
                        cellCoords['GRG' + index + colors[j]][k] += offset[i][1];
                    else
                        cellCoords['GRG' + index + colors[j]][k] += offset[i][0];
                }
                
                //and again for BGO summary coords
                cellCoords['GRS' + index + colors[j]] = [];
                for(k=0; k<baseCoords['GRS'+colors[j]].length; k++)
                    cellCoords['GRS' + index + colors[j]][k] = baseCoords['GRS'+colors[j]][k];
                //now add offsets:
                for(k=0; k<baseCoords['GRS'+colors[j]].length; k++){
                    if(k%2) //odd == y coords
                        cellCoords['GRS' + index + colors[j]][k] += offset[i][1];
                    else
                        cellCoords['GRS' + index + colors[j]][k] += offset[i][0];
                } 

            }
        }

        //each channel listed in dataStore.griffin.channelNames gets an entry in dataStore.griffin.cells as a Kinetic object:
        for(i=0; i<dataStore.griffin.channelNames.length; i++){
            //only doing summaries here
            if(dataStore.griffin.channelNames[i].length == 10)
                continue;

            //all summaries go on card 0:
            viewIndex = 0;
            cellKey = dataStore.griffin.channelNames[i];

            dataStore.griffin.cells[dataStore.griffin.channelNames[i]] = new Kinetic.Line({
                points: cellCoords[cellKey],
                fill: '#000000',
                fillPatternOffsetX: 100*Math.random(),
                fillPatternOffsetY: 100*Math.random(),
                stroke: dataStore.frameColor,
                strokeWidth: dataStore.frameLineWidth,
                closed: true,
                listening: true
            });

            //set up the tooltip listeners:
            // dataStore.griffin.cells[dataStore.griffin.channelNames[i]].on('mouseover', dataStore.griffin.writeTooltip.bind(dataStore.griffin, i) );
            // dataStore.griffin.cells[dataStore.griffin.channelNames[i]].on('mousemove', dataStore.griffin.moveTooltip.bind(dataStore.griffin) );
            // dataStore.griffin.cells[dataStore.griffin.channelNames[i]].on('mouseout', dataStore.griffin.writeTooltip.bind(dataStore.griffin, -1));

            //set up onclick listeners:
            // dataStore.griffin.cells[dataStore.griffin.channelNames[i]].on('click', dataStore.griffin.clickCell.bind(dataStore.griffin, dataStore.griffin.channelNames[i]) );

            //add the cell to the appropriate main layer
            dataStore.griffin.channelLayer[viewIndex].add(dataStore.griffin.cells[dataStore.griffin.channelNames[i]]);
        }

        //label hemispheres and beam direction
        westLabel = new Kinetic.Text({
            x: 0,
            y: 0,
            text: 'West Hemisphere',
            fontSize: 28,
            fontFamily: 'Arial',
            fill: '#999999'
        });
        dataStore.griffin.channelLayer[0].add(westLabel);
        //center label nicely
        westLabel.setAttr('x', 43.5*dataStore.griffin.summaryGrid - westLabel.getTextWidth()/2);
        westLabel.setAttr('y', 0.8*dataStore.griffin.height - westLabel.getTextHeight());

        eastLabel = new Kinetic.Text({
            x: 0,
            y: 0,
            text: 'East Hemisphere',
            fontSize: 28,
            fontFamily: 'Arial',
            fill: '#999999'
        });
        dataStore.griffin.channelLayer[0].add(eastLabel);
        //center label nicely
        eastLabel.setAttr('x', 13.5*dataStore.griffin.summaryGrid - eastLabel.getTextWidth()/2);
        eastLabel.setAttr('y', 0.8*dataStore.griffin.height - eastLabel.getTextHeight());      

        beamArrow = new Kinetic.Line({
            points: [28.5*dataStore.griffin.summaryGrid, 2*dataStore.griffin.summaryGrid, 29*dataStore.griffin.summaryGrid,2*dataStore.griffin.summaryGrid, 28.5*dataStore.griffin.summaryGrid,1*dataStore.griffin.summaryGrid, 28*dataStore.griffin.summaryGrid,2*dataStore.griffin.summaryGrid, 28.5*dataStore.griffin.summaryGrid,2*dataStore.griffin.summaryGrid, 28.5*dataStore.griffin.summaryGrid,dataStore.griffin.height*0.8],
            fill: '#999999',
            stroke: '#999999',
            strokeWidth: dataStore.griffin.frameLineWidth,
            closed: true,
            listening: true
        });      
        dataStore.griffin.channelLayer[0].add(beamArrow);  
    }

    function griffinIsHV(cellName){
        var HVcell;

        if(cellName.slice(0,3) == 'GRG' && cellName[9] == 'X') HVcell = true;
        else if(cellName.slice(0,3) == 'GRS' && cellName[9] != 'X') HVcell = true;
        else HVcell = false;

        return HVcell;
    }

</script>