detector-demo, detector-TIPWall, detector-TIGRESS{
	float:left;
	width:58%;
}

detector-demo x-deck, 
detector-TIPWall x-deck, 
detector-TIGRESS x-deck{
	height:60%;
}

detector-demo input[type=radio],
detector-TIPWall input[type=radio],
detector-TIGRESS input[type=radio]
{
	display:none;
}

detector-demo input[type='radio'] + label,
detector-TIPWall input[type='radio'] + label,
detector-TIGRESS input[type='radio'] + label,
detector-TIGRESS select
{
	font-size: 100%;
	line-height: 1.2em;
	padding:0.5em;
	border-radius: 5px;
	display:inline-block;
	background-color: #111111;
	cursor: pointer;
	margin-right: 2px;
	transition:background-color 0.3s; 
	-moz-transition:background-color 0.3s; 
	-webkit-transition:background-color 0.3s;
}

detector-demo input[type='radio']:checked + label,
detector-TIPWall input[type='radio']:checked + label,
detector-TIGRESS input[type='radio']:checked + label{
	background-color: #555555;
}

div.subdetectorHeadlineWrap{
	display:block;
	margin-bottom: 1em;
}

/*plot control widget*/
form.plotControlWidget{
	margin-bottom: 1em;
	margin-left: 10%;
}

form.plotControlWidget input,
form.plotControlWidget label,
form.plotControlWidget select{
	font-size: 120%;
	line-height: 2em;
	border-radius: 5px;
	border: 0px;
	width: 6em;
	padding:0 0 0 0.5em;
}

form.plotControlWidget input,
form.plotControlWidget select{
	color:#EEEEEE;
	background-color: #111111;
	margin-right: 2px;
	cursor:pointer;
}