include ../partials/head.jade

doctype html5
html
  head
    +head()
    script(type='text/javascript' src='static/xTags/Filter/xFilter.js')
    script(type='text/javascript' src='static/xTags/runControl/xStatus.js')
    link(rel="stylesheet" type="text/css" href='static/xTags/Filter/xFilter.css')
    link(rel="stylesheet" type="text/css" href='static/xTags/runControl/xStatus.css')


  body   
    div(id='wrapper')
      branding-head(experiment='GRIFFIN')

      div(id='mainContent')
        widget-nav(id='navBar' MIDAS= MIDAS)
        widget-status(id='statusBar', MIDAS= MIDAS)
        widget-Filter(id='Filtertool' MIDAS= MIDAS)

      div(id='push')

    branding-foot

    script.
      document.addEventListener('DOMComponentsLoaded', function(){
        //begin data fetch loop:
        rebootFetch();
      });