<link rel="stylesheet" href="../detector.css">

<template id='detector-tipball'>
    <div class='nav-row'>
        <div class="btn-group" role="group" id="view-nav"></div>
    </div>

    <div id='visualizationcollection'>
        {{#views}}
            <div id='{{.}}Wrap' class='visWrap hidden'></div>
        {{/views}}
        <form id='scalecontrol' onchange='managePlotScale()'>
            <label for='linScale'>Linear</label>
            <input id='linScale' name='plotScale' value='lin' type='radio' checked></input>
            <label for='logScale' class='uiRow'>Log</label>
            <input id='logScale' name='plotScale' value='log' type='radio'></input>
            <label for='scaleMin', class='uiRow'>Min</label>
            <input id='scaleMin', type='number' min='0' step='1'></input>
            <label for='scaleMax', class='uiRow'>Max</label>
            <input id='scaleMax', type='number' min='0' step='1'></input>
        </form>
    </div>

    <img id='errorPattern' src='img/static.gif' class='hidden'></img>
</template>

<script>
    function parameterizeDetector(){
        // determine all the parameters needed for TIP ball's visualization widget that can be calculated before HTML injection, and park them on dataStore.detector

        var i;

        //build up dataStore.detector.channel names
        dataStore.detector.channelNames = [];
        for(i=1; i<129; i++){
            dataStore.detector.channelNames.push('TPC' + ((i<10)?'00':((i<100)?'0':'')) + i + 'P00X');
        }

        // view labels
        dataStore.detector.views = ['main'];

        //subview info
        dataStore.detector.subviews = ['HV', 'threshold', 'trigger_request', 'trigger_accept'];

        // how many characters are in the summary view channel names?
        dataStore.detector.summaryDepth = 0;

        // build up raw data structure
        createDataStructure();
    }

    function drawDetector(){
        // once the HTML is in place, finish setting up visualization.

        var i, index, channel, row, passed, X, Y;

        //generic setup
        setupDetector();

        //////////////////////////////////////
        //TIP Ball specific drawing parameters
        //////////////////////////////////////
        dataStore.detector.cellSide = Math.min(dataStore.detector.width/22, 0.8*dataStore.detector.height/12);
        dataStore.detector.gutter = dataStore.detector.cellSide/3;
        dataStore.detector.rowLengths = [4, 6, 12, 16, 20, 18, 18, 14, 12, 8];
        dataStore.detector.theta = ['8.0', '17.5', '33.0', '48.5', '64.0', '79.5', '95.0', '111.9', '130.2', '148.5'];

        //create vertices for plot:
        dataStore.detector.cellCoords = {}
        for(i=0; i<dataStore.detector.channelNames.length; i++){
            channel = dataStore.detector.channelNames[i];
            index = parseInt(channel.slice(3,6),10);

            // what row is this channel on?
            row = 0;
            passed = index;
            while(passed > 0){
                passed -= dataStore.detector.rowLengths[row];
                row++;
            }
            //overshot by one
            row--;
            passed += dataStore.detector.rowLengths[row];
            Y = dataStore.detector.gutter + (row+1)*dataStore.detector.cellSide + (row>0?dataStore.detector.gutter:0);
            X = dataStore.detector.width/2 - (dataStore.detector.rowLengths[row]/2 - passed + 1)*dataStore.detector.cellSide;

            points = [
                0, 0,
                dataStore.detector.cellSide, 0,
                dataStore.detector.cellSide, dataStore.detector.cellSide,
                0, dataStore.detector.cellSide
            ]

            dataStore.detector.cellCoords[channel] = {
                "vertices": points,
                "x": X,
                "y": Y,
                "internalRotation": 0
            }
        }

        // only one view, set and forget:
        dataStore.detector.currentView = 'main';
        document.getElementById('mainWrap').classList.remove('hidden');
        // start with summary trigger accepts displayed
        manageSubview('trigger_accept', true);

        drawWindowdressing()
        // set up the cells
        instantiateCells(0);
        generateColorScale(dataStore.detector.plotScales['trigger_accept'].color);

        repaint();
    }

    function drawWindowdressing(){
        // add static annotations to the detector visualization

        var thetaLabel, ringLabel,
            i, Y;

        thetaLabel = new qdtext('Mean Theta', {
            x: 0,
            y: dataStore.detector.cellSide - 10,
            fontSize: 20,
            typeface: 'Arial',
            fillStyle: '#999999'
        });
        ringLabel = new qdtext('Ring Number', {
            x: 0,
            y: dataStore.detector.cellSide - 10,
            fontSize: 20,
            typeface: 'Arial',
            fillStyle: '#999999'
        });
        dataStore.detector.scaleLayer[0].add(thetaLabel);
        dataStore.detector.scaleLayer[0].add(ringLabel);
        ringLabel.x = dataStore.detector.width - ringLabel.getTextMetric().width;

        Y = dataStore.detector.gutter + 2*dataStore.detector.cellSide;
        for(i=0; i<10; i++){
            thetaLabel = new qdtext(dataStore.detector.theta[i] + '\u00B0', {
                x: 0,
                y: Y - dataStore.detector.cellSide/4,
                fontSize: 20,
                typeface: 'Arial',
                fillStyle: '#999999'
            }); 
            ringLabel = new qdtext(i, {
                x: 0,
                y: Y - dataStore.detector.cellSide/4,
                fontSize: 20,
                typeface: 'Arial',
                fillStyle: '#999999'
            }); 
            dataStore.detector.scaleLayer[0].add(thetaLabel);
            dataStore.detector.scaleLayer[0].add(ringLabel);
            ringLabel.x = dataStore.detector.width - ringLabel.getTextMetric().width;
            Y += dataStore.detector.cellSide;
            if(i==0)
                Y+= dataStore.detector.gutter;
        }
    }
</script>