doctype html5
html
  head
    script(type='text/javascript' src='static/utilities/helpers.js')

  body   

    script.
      XHR('http://grsmid00.triumf.ca:8082/?cmd=jcopy&odb=/DAQ&encoding=json-nokeys', buildMSC, 'application/JSON')