body{
	text-align: center;
}

widget-MSCbuilder{
	width:60%;
	margin: 0 auto 0 auto;
	text-align: left;
	display: inline-block;
}

div.detectorSection{
	background-color: #111111;
	border-radius: 1em;
	padding:1em;
	margin-bottom: 1em;
	float:left;
	width:100%;
}


input[type='radio'].stdin + label{
	font-size: 150% !important;
}

div.optionWrap{
	float:left;
	margin-right: 1em;
}

table.GRIFFINconfig{
	font-size: 120%;
	line-height: 150%;
	text-align: center;
}

table.GRIFFINconfig td{
	padding:0.25em;
}

table.GRIFFINconfig tr td:nth-child(1){
	text-align: left;
	padding-left: 0.5em;
}

table.GRIFFINconfig tr:nth-child(2n+1){
	background-color: #333333
}

.hidden{
	display: none;
}