<link rel="stylesheet" href="../detector.css">

<template id='detector-sharc'>
    <div class='nav-row'>
        <select id='detectorView' onchange='manageView()'>
            {{#views}}
                <option value='{{.}}'>{{.}}</option>
            {{/views}}            
        </select>
        <div class="btn-group" role="group" id="view-nav"></div>
    </div>

    <div id='visualizationcollection'>
        {{#views}}
            <div id='{{.}}Wrap' class='visWrap hidden'></div>
        {{/views}}
        <form id='scalecontrol' onchange='managePlotScale()'>
            <label for='linScale'>Linear</label>
            <input id='linScale' name='plotScale' value='lin' type='radio' checked></input>
            <label for='logScale' class='uiRow'>Log</label>
            <input id='logScale' name='plotScale' value='log' type='radio'></input>
            <label for='scaleMin', class='uiRow'>Min</label>
            <input id='scaleMin', type='number' min='0' step='1'></input>
            <label for='scaleMax', class='uiRow'>Max</label>
            <input id='scaleMax', type='number' min='0' step='1'></input>
        </form>
    </div>

    <img id='errorPattern' src='img/static.gif' class='hidden'></img>
</template>

<script>
                
    function dataUpdate(){                    
        // special post-heartbeat callback for GRIFFIN:
        updateRunStatus();
        summarizeData();
        repaint();
    }

    function parameterizeDetector(){
        // determine all the parameters needed for SHARC's visualization widget that can be calculated before HTML injection, and park them on dataStore.detector

        var i, j;

        //build up channel names
        dataStore.detector.channelNames = [   
            'SHQ01DN', 'SHQ02DN', 'SHQ03DN', 'SHQ04DN', 'SHQ13DN', 'SHQ14DN', 'SHQ15DN', 'SHQ16DN',
            'SHQ01DP', 'SHQ02DP', 'SHQ03DP', 'SHQ04DP', 'SHQ13DP', 'SHQ14DP', 'SHQ15DP', 'SHQ16DP',
            'SHB05DP', 'SHB06DP', 'SHB07DP', 'SHB08DP', 'SHB05DN', 'SHB06DN', 'SHB07DN', 'SHB08DN',
            'SHB09DP', 'SHB10DP', 'SHB11DP', 'SHB12DP', 'SHB09DN', 'SHB10DN', 'SHB11DN', 'SHB12DN'
        ];
        //pads:
        dataStore.detector.channelNames = dataStore.detector.channelNames.concat([  
            'SHQ01EP00X', 'SHQ02EP00X', 'SHQ03EP00X', 'SHQ04EP00X',
            'SHQ13EP00X', 'SHQ14EP00X', 'SHQ15EP00X', 'SHQ16EP00X',
            'SHB05EP00X', 'SHB06EP00X', 'SHB07EP00X', 'SHB08EP00X',
            'SHB09EP00X', 'SHB10EP00X', 'SHB11EP00X', 'SHB12EP00X'
        ]);
        
        //generate individual channel names from summary names explicity stated
        for(i=0; i<32; i++){
            //SHQ back
            if(dataStore.detector.channelNames[i].indexOf('Q') != -1 && dataStore.detector.channelNames[i].indexOf('N') != -1 ){
                for(j=0; j<24; j++)
                    dataStore.detector.channelNames.push(dataStore.detector.channelNames[i] + ((j<10)?'0'+j:j) + 'X' )
            //SHQ front
            } else if(dataStore.detector.channelNames[i].indexOf('Q') != -1 && dataStore.detector.channelNames[i].indexOf('P') != -1 ){
                for(j=0; j<16; j++)
                    dataStore.detector.channelNames.push(dataStore.detector.channelNames[i] + ((j<10)?'0'+j:j) + 'X' )
            //SHB back
            } else if(dataStore.detector.channelNames[i].indexOf('B') != -1 && dataStore.detector.channelNames[i].indexOf('N') != -1 ){
                for(j=0; j<48; j++)
                    dataStore.detector.channelNames.push(dataStore.detector.channelNames[i] + ((j<10)?'0'+j:j) + 'X' )
            //SHB front
            } else if(dataStore.detector.channelNames[i].indexOf('B') != -1 && dataStore.detector.channelNames[i].indexOf('P') != -1 ){
                for(j=0; j<24; j++)
                    dataStore.detector.channelNames.push(dataStore.detector.channelNames[i] + ((j<10)?'0'+j:j) + 'X' )
            }
        }

        // view labels
        dataStore.detector.views = [
            'Summary', 'SHQ01', 'SHQ02', 'SHQ03', 'SHQ04', 'SHB05', 'SHB06', 'SHB07', 'SHB08', 
            'SHB09', 'SHB10', 'SHB11', 'SHB12', 'SHQ13', 'SHQ14', 'SHQ15', 'SHQ16'
        ];

        //subview info
        dataStore.detector.subviews = ['HV', 'threshold', 'trigger_request', 'trigger_accept'];
        dataStore.detector.singleSubview = true; 

        // how many characters are in the summary view channel names?
        dataStore.detector.summaryDepth = 7;

        // build up raw data structure
        createDataStructure();
    }

    function drawDetector(){
        // once the HTML is in place, finish setting up the SHARC visualization.

        //generic setup
        setupDetector();

        //SHARC drawing parameterization
        //summary view
        dataStore.detector.theta = Math.atan(0.8*dataStore.detector.height / dataStore.detector.width * 2) //angle with horizontal that beam axis will make
        dataStore.detector.diag = 0.8*dataStore.detector.height / Math.sin(dataStore.detector.theta) //length of beam axis on a half-diagram
        dataStore.detector.grid = Math.min(dataStore.detector.width/2/9, dataStore.detector.diag/11); //grid separation of layers, make sure it fits
        dataStore.detector.long = 1.8*dataStore.detector.grid*Math.sin(dataStore.detector.theta);  //long parallelogram side
        dataStore.detector.short = dataStore.detector.long/2; //short parallelogram side
        dataStore.detector.rad = dataStore.detector.grid/2;   //SHQ radius
        //detail views
        dataStore.detector.boxWidth = 0.4*dataStore.detector.width;
        dataStore.detector.boxHeight = 0.7*dataStore.detector.height;
        dataStore.detector.quadCenterLeftX = 0.45*dataStore.detector.width;
        dataStore.detector.quadCenterLeftY = 0.7*dataStore.detector.height;
        dataStore.detector.quadCenterRightX = 0.95*dataStore.detector.width;
        dataStore.detector.quadCenterRightY = 0.7*dataStore.detector.height;
        dataStore.detector.quadRad = 0.4*dataStore.detector.width;

        //upright and sideways parallelogram coords for SHB summaries
        dataStore.detector.parallelogramCoords = {
            'tall': [0,dataStore.detector.short*Math.tan(dataStore.detector.theta), 0,dataStore.detector.long, dataStore.detector.short,dataStore.detector.long - dataStore.detector.short/Math.tan(dataStore.detector.theta), dataStore.detector.short,0],
            'long': [0,dataStore.detector.short, dataStore.detector.short*Math.tan(dataStore.detector.theta),0, dataStore.detector.long,0, dataStore.detector.long - dataStore.detector.short/Math.tan(dataStore.detector.theta),dataStore.detector.short]
        }
        dataStore.detector.downstreamBoxCenterX = -0.7*dataStore.detector.width;
        dataStore.detector.downstreamBoxCenterY = -0.8*dataStore.detector.height + 0.2*dataStore.detector.width*Math.tan(dataStore.detector.theta) + dataStore.detector.long/2;
        dataStore.detector.downstreamSHQfrontCenterX = -dataStore.detector.downstreamBoxCenterX + 2*dataStore.detector.grid;
        dataStore.detector.downstreamSHQfrontCenterY = -dataStore.detector.downstreamBoxCenterY - 2*dataStore.detector.grid*Math.tan(dataStore.detector.theta);
        dataStore.detector.downstreamSHQbackCenterX = -dataStore.detector.downstreamBoxCenterX + 3*dataStore.detector.grid;
        dataStore.detector.downstreamSHQbackCenterY = -dataStore.detector.downstreamBoxCenterY - 3*dataStore.detector.grid*Math.tan(dataStore.detector.theta);
        dataStore.detector.downstreamSHQpadCenterX = -dataStore.detector.downstreamBoxCenterX + 4*dataStore.detector.grid;
        dataStore.detector.downstreamSHQpadCenterY = -dataStore.detector.downstreamBoxCenterY - 4*dataStore.detector.grid*Math.tan(dataStore.detector.theta);
        dataStore.detector.upstreamBoxCenterX = -0.3*dataStore.detector.width;
        dataStore.detector.upstreamBoxCenterY = -0.2*dataStore.detector.width*Math.tan(dataStore.detector.theta) - dataStore.detector.long/2;
        dataStore.detector.upstreamSHQfrontCenterX = -dataStore.detector.upstreamBoxCenterX - 2*dataStore.detector.grid;
        dataStore.detector.upstreamSHQfrontCenterY = -dataStore.detector.upstreamBoxCenterY +2*dataStore.detector.grid*Math.tan(dataStore.detector.theta);
        dataStore.detector.upstreamSHQbackCenterX = -dataStore.detector.upstreamBoxCenterX - 3*dataStore.detector.grid;
        dataStore.detector.upstreamSHQbackCenterY = -dataStore.detector.upstreamBoxCenterY +3*dataStore.detector.grid*Math.tan(dataStore.detector.theta);
        dataStore.detector.upstreamSHQpadCenterX = -dataStore.detector.upstreamBoxCenterX - 4*dataStore.detector.grid;
        dataStore.detector.upstreamSHQpadCenterY = -dataStore.detector.upstreamBoxCenterY +4*dataStore.detector.grid*Math.tan(dataStore.detector.theta);

        // start with summary trigger accepts displayed
        manageView(true);
        manageSubview('trigger_accept', true);

        // set up the cells
        generateCoords();
        instantiateCells();
        generateColorScale(dataStore.detector.plotScales['trigger_accept'].color);

        //repaint();
    }

    function instantiateCells(){
        // decalre the detector cells and plug in interactions.

        var i, viewIndex, channel

        //each channel listed in dataStore.detector.channelNames gets an entry in dataStore.detector.cells as a quickdraw object:
        for(i=0; i<dataStore.detector.channelNames.length; i++){
            channel = dataStore.detector.channelNames[i];

            //determine which view dataStore.detector cell belongs to
            if(channel.length == 7 || channel.indexOf('E') != -1)
                viewIndex = 0;
            else
                viewIndex = parseInt(channel.slice(3,5), 10);

            createCell(channel);

            //add the cell to the appropriate main layer or HV layer
            if(isHV(channel))
                dataStore.detector.HVLayer[viewIndex].add(dataStore.detector.cells[channel])
            else
                dataStore.detector.channelLayer[viewIndex].add(dataStore.detector.cells[channel]);

        }

        setupErrorPattern();
        //drawWindowDressing();
    }

    function generateCoords(){
        // generate the coordinates of cell vertices.

        //summary layout
        //cell coords packed as: 
        //SHQ***: [center X, center Y, rotation]
        //SHB***: [{offsetX, offsetY}, orientation] - note Kinetic offsets 'move the viewport'; ie -100 offset in x moves the shape 100px *right* 
        dataStore.detector.cellCoords['SHQ01DN'] = [dataStore.detector.downstreamSHQbackCenterX, dataStore.detector.downstreamSHQbackCenterY, 180];
        dataStore.detector.cellCoords['SHQ02DN'] = [dataStore.detector.downstreamSHQbackCenterX, dataStore.detector.downstreamSHQbackCenterY, -90];
        dataStore.detector.cellCoords['SHQ03DN'] = [dataStore.detector.downstreamSHQbackCenterX, dataStore.detector.downstreamSHQbackCenterY, 0];
        dataStore.detector.cellCoords['SHQ04DN'] = [dataStore.detector.downstreamSHQbackCenterX, dataStore.detector.downstreamSHQbackCenterY, 90];
        dataStore.detector.cellCoords['SHQ13DN'] = [dataStore.detector.upstreamSHQbackCenterX, dataStore.detector.upstreamSHQbackCenterY, 180];
        dataStore.detector.cellCoords['SHQ14DN'] = [dataStore.detector.upstreamSHQbackCenterX, dataStore.detector.upstreamSHQbackCenterY, -90];
        dataStore.detector.cellCoords['SHQ15DN'] = [dataStore.detector.upstreamSHQbackCenterX, dataStore.detector.upstreamSHQbackCenterY, 0];
        dataStore.detector.cellCoords['SHQ16DN'] = [dataStore.detector.upstreamSHQbackCenterX, dataStore.detector.upstreamSHQbackCenterY, 90];

        dataStore.detector.cellCoords['SHQ01DP'] = [dataStore.detector.downstreamSHQfrontCenterX, dataStore.detector.downstreamSHQfrontCenterY, 180];
        dataStore.detector.cellCoords['SHQ02DP'] = [dataStore.detector.downstreamSHQfrontCenterX, dataStore.detector.downstreamSHQfrontCenterY, -90];
        dataStore.detector.cellCoords['SHQ03DP'] = [dataStore.detector.downstreamSHQfrontCenterX, dataStore.detector.downstreamSHQfrontCenterY, 0];
        dataStore.detector.cellCoords['SHQ04DP'] = [dataStore.detector.downstreamSHQfrontCenterX, dataStore.detector.downstreamSHQfrontCenterY, 90];
        dataStore.detector.cellCoords['SHQ13DP'] = [dataStore.detector.upstreamSHQfrontCenterX, dataStore.detector.upstreamSHQfrontCenterY, 180];
        dataStore.detector.cellCoords['SHQ14DP'] = [dataStore.detector.upstreamSHQfrontCenterX, dataStore.detector.upstreamSHQfrontCenterY, -90];
        dataStore.detector.cellCoords['SHQ15DP'] = [dataStore.detector.upstreamSHQfrontCenterX, dataStore.detector.upstreamSHQfrontCenterY, 0];
        dataStore.detector.cellCoords['SHQ16DP'] = [dataStore.detector.upstreamSHQfrontCenterX, dataStore.detector.upstreamSHQfrontCenterY, 90];

        dataStore.detector.cellCoords['SHB05DP'] = [{x: dataStore.detector.downstreamBoxCenterX + dataStore.detector.grid, y: dataStore.detector.downstreamBoxCenterY + dataStore.detector.long/2}, 'tall'];
        dataStore.detector.cellCoords['SHB06DP'] = [{x: dataStore.detector.downstreamBoxCenterX, y: dataStore.detector.downstreamBoxCenterY + dataStore.detector.grid + dataStore.detector.short/2}, 'long'];
        dataStore.detector.cellCoords['SHB07DP'] = [{x: dataStore.detector.downstreamBoxCenterX - dataStore.detector.grid, y: dataStore.detector.downstreamBoxCenterY + dataStore.detector.long/2}, 'tall'];
        dataStore.detector.cellCoords['SHB08DP'] = [{x: dataStore.detector.downstreamBoxCenterX, y: dataStore.detector.downstreamBoxCenterY - dataStore.detector.grid + dataStore.detector.short/2}, 'long'];
        dataStore.detector.cellCoords['SHB05DN'] = [{x: dataStore.detector.downstreamBoxCenterX + 2*dataStore.detector.grid, y: dataStore.detector.downstreamBoxCenterY + dataStore.detector.long/2}, 'tall'];
        dataStore.detector.cellCoords['SHB06DN'] = [{x: dataStore.detector.downstreamBoxCenterX, y: dataStore.detector.downstreamBoxCenterY + 2*dataStore.detector.grid + dataStore.detector.short/2}, 'long'];
        dataStore.detector.cellCoords['SHB07DN'] = [{x: dataStore.detector.downstreamBoxCenterX - 2*dataStore.detector.grid, y: dataStore.detector.downstreamBoxCenterY + dataStore.detector.long/2}, 'tall'];
        dataStore.detector.cellCoords['SHB08DN'] = [{x: dataStore.detector.downstreamBoxCenterX, y: dataStore.detector.downstreamBoxCenterY - 2*dataStore.detector.grid + dataStore.detector.short/2}, 'long'];

        dataStore.detector.cellCoords['SHB09DP'] = [{x: dataStore.detector.upstreamBoxCenterX + dataStore.detector.grid, y: dataStore.detector.upstreamBoxCenterY + dataStore.detector.long/2}, 'tall'];
        dataStore.detector.cellCoords['SHB10DP'] = [{x: dataStore.detector.upstreamBoxCenterX, y: dataStore.detector.upstreamBoxCenterY + dataStore.detector.grid + dataStore.detector.short/2}, 'long'];
        dataStore.detector.cellCoords['SHB11DP'] = [{x: dataStore.detector.upstreamBoxCenterX - dataStore.detector.grid, y: dataStore.detector.upstreamBoxCenterY + dataStore.detector.long/2}, 'tall'];
        dataStore.detector.cellCoords['SHB12DP'] = [{x: dataStore.detector.upstreamBoxCenterX, y: dataStore.detector.upstreamBoxCenterY - dataStore.detector.grid + dataStore.detector.short/2}, 'long'];
        dataStore.detector.cellCoords['SHB09DN'] = [{x: dataStore.detector.upstreamBoxCenterX + 2*dataStore.detector.grid, y: dataStore.detector.upstreamBoxCenterY + dataStore.detector.long/2}, 'tall'];
        dataStore.detector.cellCoords['SHB10DN'] = [{x: dataStore.detector.upstreamBoxCenterX, y: dataStore.detector.upstreamBoxCenterY + 2*dataStore.detector.grid + dataStore.detector.short/2}, 'long'];
        dataStore.detector.cellCoords['SHB11DN'] = [{x: dataStore.detector.upstreamBoxCenterX - 2*dataStore.detector.grid, y: dataStore.detector.upstreamBoxCenterY + dataStore.detector.long/2}, 'tall'];
        dataStore.detector.cellCoords['SHB12DN'] = [{x: dataStore.detector.upstreamBoxCenterX, y: dataStore.detector.upstreamBoxCenterY - 2*dataStore.detector.grid + dataStore.detector.short/2}, 'long'];

        //pads
        dataStore.detector.cellCoords['SHQ01EP00X'] = [dataStore.detector.downstreamSHQpadCenterX, dataStore.detector.downstreamSHQpadCenterY, 180];
        dataStore.detector.cellCoords['SHQ02EP00X'] = [dataStore.detector.downstreamSHQpadCenterX, dataStore.detector.downstreamSHQpadCenterY, -90];
        dataStore.detector.cellCoords['SHQ03EP00X'] = [dataStore.detector.downstreamSHQpadCenterX, dataStore.detector.downstreamSHQpadCenterY, 0];
        dataStore.detector.cellCoords['SHQ04EP00X'] = [dataStore.detector.downstreamSHQpadCenterX, dataStore.detector.downstreamSHQpadCenterY, 90];
        dataStore.detector.cellCoords['SHQ13EP00X'] = [dataStore.detector.upstreamSHQpadCenterX, dataStore.detector.upstreamSHQpadCenterY, 180];
        dataStore.detector.cellCoords['SHQ14EP00X'] = [dataStore.detector.upstreamSHQpadCenterX, dataStore.detector.upstreamSHQpadCenterY, -90];
        dataStore.detector.cellCoords['SHQ15EP00X'] = [dataStore.detector.upstreamSHQpadCenterX, dataStore.detector.upstreamSHQpadCenterY, 0];
        dataStore.detector.cellCoords['SHQ16EP00X'] = [dataStore.detector.upstreamSHQpadCenterX, dataStore.detector.upstreamSHQpadCenterY, 90];

        dataStore.detector.cellCoords['SHB05EP00X'] = [{x: dataStore.detector.downstreamBoxCenterX + 3*dataStore.detector.grid, y: dataStore.detector.downstreamBoxCenterY + dataStore.detector.long/2}, 'tall'];
        dataStore.detector.cellCoords['SHB06EP00X'] = [{x: dataStore.detector.downstreamBoxCenterX, y: dataStore.detector.downstreamBoxCenterY + 3*dataStore.detector.grid + dataStore.detector.short/2}, 'long'];
        dataStore.detector.cellCoords['SHB07EP00X'] = [{x: dataStore.detector.downstreamBoxCenterX - 3*dataStore.detector.grid, y: dataStore.detector.downstreamBoxCenterY + dataStore.detector.long/2}, 'tall'];
        dataStore.detector.cellCoords['SHB08EP00X'] = [{x: dataStore.detector.downstreamBoxCenterX, y: dataStore.detector.downstreamBoxCenterY - 3*dataStore.detector.grid + dataStore.detector.short/2}, 'long'];
        dataStore.detector.cellCoords['SHB09EP00X'] = [{x: dataStore.detector.upstreamBoxCenterX + 3*dataStore.detector.grid, y: dataStore.detector.upstreamBoxCenterY + dataStore.detector.long/2}, 'tall'];
        dataStore.detector.cellCoords['SHB10EP00X'] = [{x: dataStore.detector.upstreamBoxCenterX, y: dataStore.detector.upstreamBoxCenterY + 3*dataStore.detector.grid + dataStore.detector.short/2}, 'long'];
        dataStore.detector.cellCoords['SHB11EP00X'] = [{x: dataStore.detector.upstreamBoxCenterX - 3*dataStore.detector.grid, y: dataStore.detector.upstreamBoxCenterY + dataStore.detector.long/2}, 'tall'];
        dataStore.detector.cellCoords['SHB12EP00X'] = [{x: dataStore.detector.upstreamBoxCenterX, y: dataStore.detector.upstreamBoxCenterY - 3*dataStore.detector.grid + dataStore.detector.short/2}, 'long'];
    }

    function drawWindowDressing(){
        var beamArrow, upstreamLabel, downstreamLabel, frontLabel, backLabel;

        //beam arrow
        dataStore.detector.channelLayer[0].add(kineticArrow(0.32*dataStore.detector.width, 0.4*dataStore.detector.height + Math.tan(dataStore.detector.theta)*0.2*dataStore.detector.width, 0.72*dataStore.detector.width, 0.4*dataStore.detector.height - Math.tan(dataStore.detector.theta)*0.2*dataStore.detector.width )); 

        //label upstream / downstream halves
        upstreamLabel = new Kinetic.Text({
            x: 0,
            y: 0,
            text: 'Upstream',
            fontSize: 28,
            fontFamily: 'Arial',
            fill: '#999999'
        });
        dataStore.detector.channelLayer[0].add(upstreamLabel);
        //center label nicely
        upstreamLabel.setAttr('x', - dataStore.detector.upstreamBoxCenterX - upstreamLabel.getTextWidth()/2);
        upstreamLabel.setAttr('y', 0.8*dataStore.detector.height - upstreamLabel.getTextHeight());

        downstreamLabel = new Kinetic.Text({
            x: 0,
            y: 0,
            text: 'Downstream',
            fontSize: 28,
            fontFamily: 'Arial',
            fill: '#999999'
        });
        dataStore.detector.channelLayer[0].add(downstreamLabel);
        //center label nicely
        downstreamLabel.setAttr('x', - dataStore.detector.downstreamBoxCenterX - downstreamLabel.getTextWidth()/2);
        downstreamLabel.setAttr('y', 0.8*dataStore.detector.height - downstreamLabel.getTextHeight());  

        //labels for detail views:
        for(i=1; i<16; i++){
            frontLabel = new Kinetic.Text({
                x: 0,
                y: 0,
                text: 'Front',
                fontSize: 28,
                fontFamily: 'Arial',
                fill: '#999999'
            });
            dataStore.detector.HVLayer[i].add(frontLabel);
            //center label nicely
            frontLabel.setAttr('x', 0.25*dataStore.detector.width - frontLabel.getTextWidth()/2);
            frontLabel.setAttr('y', 0.8*dataStore.detector.height - frontLabel.getTextHeight());

            backLabel = new Kinetic.Text({
                x: 0,
                y: 0,
                text: 'Back',
                fontSize: 28,
                fontFamily: 'Arial',
                fill: '#999999'
            });
            dataStore.detector.HVLayer[i].add(backLabel);
            //center label nicely
            backLabel.setAttr('x', 0.75*dataStore.detector.width - backLabel.getTextWidth()/2);
            backLabel.setAttr('y', 0.8*dataStore.detector.height - backLabel.getTextHeight());
        }

    }

    function createCell(channel){
        // stamp out a cell for the given channel and coordinate array key
        // note that cell still has to be added to an appropriate layer on a per-detector basis.

        var index = dataStore.detector.channelNames.indexOf(channel);

        //SHQ summaries
        if(index<16){
            dataStore.detector.cells[channel] = new Kinetic.Wedge({
                x: dataStore.detector.cellCoords[channel][0],
                y: dataStore.detector.cellCoords[channel][1],
                rotation: dataStore.detector.cellCoords[channel][2],
                radius: dataStore.detector.rad,
                angle: 90,
                fill: '#000000',
                fillPatternOffsetX: 100*Math.random(),
                fillPatternOffsetY: 100*Math.random(),
                stroke: dataStore.frameColor,
                strokeWidth: dataStore.frameLineWidth,
                closed: true,
                listening: true             
            })
        //SHB summaries
        } else if(index<32){
            dataStore.detector.cells[channel] = new Kinetic.Line({
                points: dataStore.detector.parallelogramCoords[dataStore.detector.cellCoords[channel][1]],
                offset: dataStore.detector.cellCoords[channel][0],
                fill: '#000000',
                fillPatternOffsetX: 100*Math.random(),
                fillPatternOffsetY: 100*Math.random(),
                stroke: dataStore.frameColor,
                strokeWidth: dataStore.frameLineWidth,
                closed: true,
                listening: true                          
            })
        //SHQ pads
        } else if(index<40){
            dataStore.detector.cells[channel] = new Kinetic.Wedge({
                x: dataStore.detector.cellCoords[channel][0],
                y: dataStore.detector.cellCoords[channel][1],
                rotation: dataStore.detector.cellCoords[channel][2],
                radius: dataStore.detector.rad,
                angle: 90,
                fill: '#000000',
                fillPatternOffsetX: 100*Math.random(),
                fillPatternOffsetY: 100*Math.random(),
                stroke: dataStore.frameColor,
                strokeWidth: dataStore.frameLineWidth,
                closed: true,
                listening: true             
            })
        //SHB pads
        } else if(index<48){
            dataStore.detector.cells[channel] = new Kinetic.Line({
                points: dataStore.detector.parallelogramCoords[dataStore.detector.cellCoords[channel][1]],
                offset: dataStore.detector.cellCoords[channel][0],
                fill: '#000000',
                fillPatternOffsetX: 100*Math.random(),
                fillPatternOffsetY: 100*Math.random(),
                stroke: dataStore.frameColor,
                strokeWidth: dataStore.frameLineWidth,
                closed: true,
                listening: true                          
            })
        //detail channels
        } else{
            isBox = (channel.indexOf('B') == 2);
            isFront = (channel.indexOf('P') == 6);
            cellIndex = parseInt(channel.slice(7,9),10);

            if(isBox && isFront){
                dataStore.detector.cells[channel] = new Kinetic.Rect({
                    x: (dataStore.detector.width/2 - dataStore.detector.boxWidth)/2,
                    y: (0.8*dataStore.detector.height - dataStore.detector.boxHeight)/2 + cellIndex*dataStore.detector.boxHeight/24,
                    width: dataStore.detector.boxWidth,
                    height: dataStore.detector.boxHeight / 24,
                    fill: '#000000',
                    fillPatternImage: dataStore.detector.errorPattern,
                    fillPatternOffsetX: 100*Math.random(),
                    fillPatternOffsetY: 100*Math.random(),
                    stroke: dataStore.frameColor,
                    strokeWidth: dataStore.frameLineWidth,
                    closed: true,
                    listening: true                                 
                });
            } else if(isBox && !isFront){
                dataStore.detector.cells[channel] = new Kinetic.Rect({
                    x: (dataStore.detector.width/2 - dataStore.detector.boxWidth)/2 + dataStore.detector.width/2 + cellIndex*dataStore.detector.boxWidth/48,
                    y: (0.8*dataStore.detector.height - dataStore.detector.boxHeight)/2,
                    width: dataStore.detector.boxWidth/48,
                    height: dataStore.detector.boxHeight,
                    fill: '#000000',
                    fillPatternImage: dataStore.detector.errorPattern,
                    fillPatternOffsetX: 100*Math.random(),
                    fillPatternOffsetY: 100*Math.random(),
                    stroke: dataStore.frameColor,
                    strokeWidth: dataStore.frameLineWidth,
                    closed: true,
                    listening: true                                
                });
            } else if(!isBox && isFront){
                dataStore.detector.cells[channel] = new Kinetic.Arc({
                    x: dataStore.detector.quadCenterLeftX,
                    y: dataStore.detector.quadCenterLeftY,
                    innerRadius: cellIndex*dataStore.detector.quadRad/16,
                    outerRadius: (cellIndex+1)*dataStore.detector.quadRad/16,
                    angle: 90,
                    rotationDeg: 180,
                    fill: '#000000',
                    fillPatternImage: dataStore.detector.errorPattern,
                    fillPatternOffsetX: 100*Math.random(),
                    fillPatternOffsetY: 100*Math.random(),
                    stroke: dataStore.frameColor,
                    strokeWidth: dataStore.frameLineWidth,
                    closed: true,
                    listening: true                                
                });
            } else if(!isBox && !isFront){
                dataStore.detector.cells[channel] = new Kinetic.Wedge({
                    x: dataStore.detector.quadCenterRightX,
                    y: dataStore.detector.quadCenterRightY,
                    radius: dataStore.detector.quadRad,
                    angle: 90 / 24,
                    rotation: 180 + cellIndex*90/24,
                    fill: '#000000',
                    fillPatternImage: dataStore.detector.errorPattern,
                    fillPatternOffsetX: 100*Math.random(),
                    fillPatternOffsetY: 100*Math.random(),
                    stroke: dataStore.frameColor,
                    strokeWidth: dataStore.frameLineWidth,
                    closed: true,
                    listening: true                                
                });
            }
        }

        //set up the tooltip listeners:
        dataStore.detector.cells[channel].on('mouseover', writeTooltip.bind(null, channel));
        dataStore.detector.cells[channel].on('mousemove', moveTooltip);
        dataStore.detector.cells[channel].on('mouseout',  hideTooltip);

        //set up onclick listeners:
        dataStore.detector.cells[channel].on('click', clickCell.bind(null, channel) );
    }

    function inCurrentView(channel){
        //is channelName currently displayed on screen?

        var viewIndex,
            currentViewIndex = dataStore.detector.views.indexOf(dataStore.detector.currentView);

        //determine which view dataStore.detector cell belongs to
        if(channel.length == 7 || channel.indexOf('E') != -1)
            viewIndex = 0;
        else
            viewIndex = parseInt(channel.slice(3,5), 10);

        return viewIndex == currentViewIndex;
    }

    function clickCell(channel){
        var viewSelector = document.getElementById('detectorView');

        //summary -> details
        if(channel.length == 7 || channel.indexOf('E') != -1){
            viewSelector.value = channel.slice(0,5);
            viewSelector.onchange();
            hideTooltip();
            return;
        }

        // let everyone know dataStore.detector cell was clicked
        broadcastCellClick(channel);

        // highlight the cell
        highlightCell(dataStore.detector.cells[channel]);
    }

</script>