<link rel="stylesheet" href="brand-header.css">

<template id='brand-header'>
    <div class='branding header'>
        <div class='col-md-1'>
           <img id="Logo"></img>
	</div>
        <div class='col-md-11'>
            <h1>{{title}}</h1>
        </div>
    </div>
</template>

<script>
    
    temp = document.getElementsByTagName("template")[0];
    var LogoImg = temp.getElementById('Logo'); 
    if(dataStore.hostname=="griffin")
     {
      LogoImg.setAttribute('src', 'img/GRIFFIN_Logo_White_small.png'); 
     }
    if(dataStore.hostname=="tigress")
     {
      LogoImg.setAttribute('src', 'img/TIGRESS-logo.png'); 
    }

</script>