detector-demo, 
detector-TIPWall,
detector-TIPBall,
detector-TIGRESS,
detector-GRIFFIN, 
detector-SPICE, 
detector-SHARC, 
detector-DESCANT, 
detector-DANTE, 
detector-SCEPTAR, 
detector-PACES,
detector-BAMBINO,
detector-ZDS{
	float:right;
	width:calc(80% - 2em);
}

div.subdetectorHeadlineWrap{
	display:block;
	margin-bottom: 1em;
	width: -moz-max-content;
	width: -webkit-max-content;
	width: max-content;
	float:left;
}

/*plot control widget*/
form.plotControlWidget{
	margin-bottom: 1em;
	margin-left: 10%;
	width: -moz-max-content;
	width: -webkit-max-content;
	width: max-content;
	clear: both;
}

form.plotControlWidget input{
	width: 6em;
}

div.deckWrap{
	width: 70%;
	float:left;
}

div.sidebarWrap{
	width: 30%;
	float: right;
	height: 46em;
}