widget-Shack{
	float:right;
	width: calc(60% - 2em);
	margin: 0 0 1em 0;
}

widget-shackControl{
	background-color: #333333;
	border-radius: 1em;
	float: right;
	padding: 1em;
	margin: 1em;
	width: 20%;
}

form input{
	margin-bottom:1em;
}

form label{
	margin-right: 1em;
}

input[type='password']{
	width: 10em;
}