widget-PPG{
	float:right;
	width:calc(80% - 2em);
	margin: 0 1em 0 0;
}

div.PPGcardSorting{
	display: block;
	text-align: center;
	width: 100%;
	margin-bottom: 0.5em;
}

div.ribbonCard{
	border-radius: 1em;
	border: 0.5em solid #f1c40f;
	display: inline-block;
	vertical-align: top;
	padding: 1em;
}

widget-PPG input.stdin{
	width: 5em;
	margin-left: 0.5em;
}

div.PPGcardSorting button:hover{
	background-color: #555555;
}

div.ribbonCard ul{
	line-height: 1.5;
}

div.ribbonCard ul label{
	cursor: pointer;
}

div.ribbonCard input[type='checkbox'].edit{
	display: auto;
}

div.ribbonCard input[type='checkbox'].edit + label{
	display: auto;
}

div.ribbonCard input[type='checkbox'].edit:checked + label{
	color: #f0291b;
}

div.ribbonCard input[type='checkbox'].summary{
	display: none;
}

div.ribbonCard input[type='checkbox'].summary + label{
	display: none;
}

div.ribbonCard input[type='checkbox'].summary:checked + label{
	display:block;
	font-size: 150%;
	pointer-events: none;
}

form.PPGcontrol{
	background-color: #333333;
	border-radius: 1em;
	padding: 1em;
	margin: 1em 0 1em 0;
	display: inline-block;
}

input#cycleName{
	width:10em;
}

form span{
	display: block;
	margin-bottom: 1em;
}