widget-rateBar{
	background-color: #333333;
	border-radius: 1em;
	float: right;
	padding: 1em;
	margin: 1em;
	height: calc(100% - 1em);
	overflow: auto;
}

widget-ratebar ul li{
	font-size: 100%;
	line-height: 200%;
	clear:both;
	padding-top: 0.5em;
}

div#control ul{
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #EEEEEE;
}

div#control input[type='number']{
	width: 6em;
}

div#control label{
	margin-right: 0.5em;
}