<template id='labr3-custom'>
    <h4>LaBr3 Energy</h4>
    <table id='labr3-energy-PSC' class='table'>
        <tbody>
            <tr>
                <td>Channel</td>
                <td>P</td>
                <td>S</td>
                <td>C</td>
                <td>Address</td>
            </tr>
            <tr>
                <td>Apply to all:</td>
                <td>
                    <input type='number' id='labr3-energy-global-P' key={{key-E}} min=0 max=16 step=1 value={{P}} onchange="updateAddr.call(this, 'P')"></input>
                </td>
                <td>
                    <input type='number' id='labr3-energy-global-S' key={{key-E}} min=0 max=16 step=1 value={{S-E}} onchange="updateAddr.call(this, 'S')"></input>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>

    <h4>LaBr3 Time</h4>
    <table id='labr3-time-PSC' class='table'>
        <tbody>
            <tr>
                <td>Channel</td>
                <td>P</td>
                <td>S</td>
                <td>C</td>
                <td>Address</td>
            </tr>
            <tr>
                <td>Apply to all:</td>
                <td>
                    <input type='number' id='labr3-time-global-P' key={{key-T}} min=0 max=16 step=1 value={{P}} onchange="updateAddr.call(this, 'P')"></input>
                </td>
                <td>
                    <input type='number' id='labr3-time-global-S' key={{key-T}} min=0 max=16 step=1 value={{S-T}} onchange="updateAddr.call(this, 'S')"></input>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>

    {{#downstream}}
        <h4>LaBr3 Suppressors Group 1</h4>
        <table id='labr3-suppressors-1-PSC' class='table'>
            <tbody>
                <tr>
                    <td>Channel</td>
                    <td>P</td>
                    <td>S</td>
                    <td>C</td>
                    <td>Address</td>
                </tr>
                <tr>
                    <td>Apply to all:</td>
                    <td>
                        <input type='number' id='labr3-suppressors-1-global-P' key={{key-S1}} min=0 max=16 step=1 value={{P}} onchange="updateAddr.call(this, 'P')"></input>
                    </td>
                    <td>
                        <input type='number' id='labr3-suppressors-1-global-S' key={{key-S1}} min=0 max=16 step=1 value={{S-S1}} onchange="updateAddr.call(this, 'S')"></input>
                    </td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    {{/downstream}}

    <h4>LaBr3 Suppressors Group 2</h4>
    <table id='labr3-suppressors-2-PSC' class='table'>
        <tbody>
            <tr>
                <td>Channel</td>
                <td>P</td>
                <td>S</td>
                <td>C</td>
                <td>Address</td>
            </tr>
            <tr>
                <td>Apply to all:</td>
                <td>
                    <input type='number' id='labr3-suppressors-2-global-P' key={{key-S2}} min=0 max=16 step=1 value={{P}} onchange="updateAddr.call(this, 'P')"></input>
                </td>
                <td>
                    <input type='number' id='labr3-suppressors-2-global-S' key={{key-S2}} min=0 max=16 step=1 value={{S-S2}} onchange="updateAddr.call(this, 'S')"></input>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</template>