<template id='labr3-custom-tac'>
    <table id='labr3-{{group}}-PSC' class='table'>
    	<tbody>
    		<tr>
    			<table id='labr3-tac-PSC' class='table'>
        			<tbody>
            				<tr>
                				<td>Channel</td>
                				<td>P</td>
                				<td>S</td>
                				<td>C</td>
                				<td>Address</td>
            				</tr>
            				<tr>
                				<td>Apply to all:</td>
                				<td>
                    					<input type='number' id='labr3-tac-global-P' key={{key-T}} min=0 max=16 step=1 value={{P}} onchange="updateAddr.call(this, 'P')"></input>
                				</td>
                				<td>
                 				   	<input type='number' id='labr3-tac-global-S' key={{key-T}} min=0 max=16 step=1 value={{S-T}} onchange="updateAddr.call(this, 'S')"></input>
                				</td>
                				<td>-</td>
                				<td>-</td>
            				</tr>
        			</tbody>
    			</table>
    		</tr>
    	</tbody>
    </table>
</template>
