<template id='paces-custom'>
    <table id='paces-PSC' class='table'>
        <tbody>
            <tr>
                <td>Channel</td>
                <td>P</td>
                <td>S</td>
                <td>C</td>
                <td>Address</td>
            </tr>
            <tr>
                <td>Apply to all:</td>
                <td>
                    <input type='number' id='paces-global-P' key={{key}} min=0 max=15 step=1 value={{P}} onchange="updateAddr.call(this, 'P')"></input>
                </td>
                <td>
                    <input type='number' id='paces-global-S' key={{key}} min=0 max=15 step=1 value={{S}} onchange="updateAddr.call(this, 'S')"></input>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</template>