widget-HV{
	width:calc(60% - 2em);  
	float:left;
}

x-card x-waffle{
	width: 100%;
	height: 100%;
	float: left;
}

input.crateRadio, 
widget-HVcontrol input[type='radio']{
	display:none;
}

input.crateRadio + label,
widget-HVcontrol input[type='radio'] + label,
widget-HVcontrol input[type='button'],
widget-HVcontrol input[type='number']{
	font-size: 100%;
	line-height: 1.2em;
	padding:0.5em;
	border-radius: 5px;
	display:inline-block;
	background-color: #111111;
	color: #EEEEEE;
	border: none;
	cursor: pointer;
	margin-right: 2px;
	transition:background-color 0.3s; 
	-moz-transition:background-color 0.3s; 
	-webkit-transition:background-color 0.3s;
}

input.crateRadio:checked + label,
input[type='radio']:checked + label
{
	background-color: #555555;
}

div.HVcrateNav{
	margin-top: 1em;
}

/*Control sidebar*/
widget-HVcontrol{
	background-color: #333333;
	border-radius: 1em;
	float: right;
	padding: 1em;
	margin: 1em;
	max-width: calc(20% - 1em);
}

widget-HVcontrol form{
	opacity: 0;
	transition:opacity 0.3s; 
	-moz-transition:opacity 0.3s; 
	-webkit-transition:opacity 0.3s;
}

widget-HVcontrol input[type='number']{
	width: 5em;
}

widget-HVcontrol input[type='button']{
	margin-right: 2em;
}

widget-HVcontrol ul{
	margin-top: 1em;
	font-size: 120%;
	line-height: 1.5em;
}

input.voltageField:after{
	content: "V";
}



