<link rel="stylesheet" href="nav-bar.css">

<template id='nav-bar'>
    
    <div id='nav-wrap'>
        <a class='btn btn-info' id='hv-link' href='hv.html'>HV</a> 
        <a class='btn btn-info' id='daq-link' href='daq.html' >DAQ</a>
        <a class='btn btn-info' id='cycle-link' href='cycle.html'>Cycle</a>    
        <a class='btn btn-info' id='clock-link' href='clock.html'>Clock</a>    
        <a class='btn btn-info' id='filter-link' href='filter.html'>Filter</a>
        <a class='btn btn-info' id='shack-link' href='shack.html'>Shack</a> 
        <a class='btn btn-info' id='msc-link' href='msc-builder.html'>MSC Builder</a>    
    </div>

</template>

<script>


    // Add the hostname to the nav-bar buttons
    document.getElementById('hv-link').setAttribute("href",'hv.html?='+dataStore.host); 
    document.getElementById('daq-link').setAttribute("href",'daq.html?='+dataStore.host); 
    document.getElementById('cycle-link').setAttribute("href",'cycle.html?='+dataStore.host); 
    document.getElementById("clock-link").setAttribute("href",'clock.html?='+dataStore.host); 
    document.getElementById("filter-link").setAttribute("href",'filter.html?='+dataStore.host); 
    document.getElementById("shack-link").setAttribute("href",'shack.html?='+dataStore.host); 
    document.getElementById("msc-link").setAttribute("href",'msc.html?='+dataStore.host);

    
    function detectDetectors(){
        // decide which detectors need to be linked to, based on the MSC table in the ODB, pre-registered on dataStore.ODB.DAQ

        var i, newLink, current
            detectors = [],
            wrap = document.getElementById('nav-wrap');

        for(i=0; i<dataStore.ODB.DAQ.MSC.chan.length; i++){
            detectors.push(dataStore.ODB.DAQ.MSC.chan[i].slice(0,3));
        }
        detectors = detectors.unique();

        for(i=0; i<detectors.length; i++){
            if(dataStore.detPrefix[detectors[i]]){
                newLink = document.createElement('a');
                newLink.setAttribute('class', 'btn btn-info btn-fudge');
                if(detectors[i] == 'SPZ'){
                    newLink.setAttribute('href', 's2s3.html?config=S2');
                } else if(detectors[i] == 'SPE'){
                    newLink.setAttribute('href', 's2s3.html?config=S3');
                } else {
                    newLink.setAttribute('href', dataStore.detPrefix[detectors[i]].replace(/ /g,'').toLowerCase() + '.html');
                }
                newLink.setAttribute('id', dataStore.detPrefix[detectors[i]].replace(/ /g,'').toLowerCase() + '-link');
                newLink.innerHTML = dataStore.detPrefix[detectors[i]];
                wrap.appendChild(newLink);
            }
        }

        //set active state
        current = window.location.pathname.split('/').pop();
        current = current.slice(0, current.indexOf('.')) + '-link';
        if(document.getElementById(current))
            document.getElementById(current).classList.add('btn-warning');    
    }

</script>