<link rel="stylesheet" href="nav-bar.css">

<template id='nav-bar'>
    
<div id='nav-wrap'> </div>

</template>

<script>

    function detectDetectors(){
        // decide which detectors need to be linked to, based on the PSC table in the ODB, pre-registered on dataStore.ODB.DAQ

        var buttonNames = ["hv","daq","cycle","clock","filter","shack","psc"];

        var i, newLink, current
            detectors = [],
            wrap = document.getElementById('nav-wrap');

    // Add the standard buttons first
    for(i=0; i<buttonNames.length; i++){
                if(dataStore.hostname=="tigress" && buttonNames[i]=="cycle"){continue;}
                newLink = document.createElement('a');
                newLink.setAttribute('class', 'btn btn-info'); 
                newLink.setAttribute('id', buttonNames[i] + '-link'); 
                newLink.setAttribute('href', buttonNames[i] + '.html?backend=' + dataStore.hostname);
                newLink.innerHTML = buttonNames[i];
                wrap.appendChild(newLink);
      }


        // Add the appropriate Detector buttons
        for(i=0; i<dataStore.ODB.DAQ.PSC.chan.length; i++){
            detectors.push(dataStore.ODB.DAQ.PSC.chan[i].slice(0,3));
        }
        detectors = detectors.unique();

        for(i=0; i<detectors.length; i++){
            if(dataStore.detPrefix[detectors[i]]){
                newLink = document.createElement('a');
                newLink.setAttribute('class', 'btn btn-info btn-fudge'); 
                if(detectors[i] == 'GRS'){ continue; }
                if(detectors[i] == 'LBS'){ continue; }
                if(detectors[i] == 'TIS'){ continue; }
                if(detectors[i] == 'LBL'){
                    newLink.setAttribute('href', 'labr3.html?backend=' + dataStore.hostname);
                } else
                if(detectors[i] == 'SPZ'){
                    newLink.setAttribute('href', 's2s3.html?config=S2');
                } else if(detectors[i] == 'SPE'){
                    newLink.setAttribute('href', 's2s3.html?config=S3');
                } else {
                    newLink.setAttribute('href',
                dataStore.detPrefix[detectors[i]].replace(/ /g,'').toLowerCase() + '.html?backend=' + dataStore.hostname);
                }
                newLink.setAttribute('id', dataStore.detPrefix[detectors[i]].replace(/ /g,'').toLowerCase() + '-link');
                newLink.innerHTML = dataStore.detPrefix[detectors[i]];
                wrap.appendChild(newLink);
            }
        }

        //set active state
        current = window.location.pathname.split('/').pop();
        current = current.slice(0, current.indexOf('.')) + '-link';
        if(document.getElementById(current))
            document.getElementById(current).classList.add('btn-warning');    
    }

</script>