<template id='andRow'>
    <div class='col-md-3'>
        <span class='and-label'>AND</span>
        <select id="detectorSelect{{orNumber}}{{andNumber}}" onchange='requestNewFilterName()'>
            {{#detType}}
                <option value="{{id}}">{{description}}</option>
            {{/detType}}
        </select>
    </div>
    <div class='col-md-2'>
        <select id="filterType{{orNumber}}{{andNumber}}" onchange='changeCounting({{orNumber}}, {{andNumber}})'>
            <option value="S">Singles</option>
            <option value="C">Coincidences</option>
            <option value="P">Prescale</option>
        </select>
    </div>

    <div class='col-md-3' id='subconfigS0{{orNumber}}{{andNumber}}'></div>
    <div id='subconfigC0{{orNumber}}{{andNumber}}' class='col-md-3 hidden'>
        <div id="coincConfigWrap0{{orNumber}}{{andNumber}}">
            <label id="coincConfigLabel0{{orNumber}}{{andNumber}}">Multiplicity: </label>
            <input value="2" min="0" step="1" id="coincConfigInput0{{orNumber}}{{andNumber}}" type="number" class='small-number' onchange='requestNewFilterName()'>
        </div>
    </div>
    <div id='subconfigP0{{orNumber}}{{andNumber}}' class='col-md-3 hidden'>
        <div id="prescaleConfigWrap0{{orNumber}}{{andNumber}}">
            <label id="prescaleConfigLabel0{{orNumber}}{{andNumber}}">Factor: </label>
            <input value="10" min="0" step="1" id="prescaleConfigInput0{{orNumber}}{{andNumber}}" type="number" class='small-number' onchange='requestNewFilterName()'>
        </div>
    </div>

    <div id='subconfigS1{{orNumber}}{{andNumber}}' class='col-md-3'></div>
    <div id='subconfigC1{{orNumber}}{{andNumber}}' class='col-md-3 hidden'>
        <div id="coincConfigWrap1{{orNumber}}{{andNumber}}">
            <label id="coincConfigLabel1{{orNumber}}{{andNumber}}">Coinc. Window [ns]:</label>
            <input min="0" step="1" id="coincConfigInput1{{orNumber}}{{andNumber}}" type="number" class='small-number' onchange='requestNewFilterName()'>
        </div>
    </div>
    <div id='subconfigP1{{orNumber}}{{andNumber}}' class='col-md-3 hidden'></div>

    <div class='col-md-1'>
        <button class='btn btn-danger' onclick='deleteAND({{orNumber}}, {{andNumber}})'>Remove</button>
    </div>
</template>