<template id='orBlock'>
    <div id='leftTab{{orNumber}}' class='col-md-1 left-tab'>OR</div>
    <div id='filterContent{{orNumber}}' class='col-md-11 filterContent'></div>
    <div class='or-control'>
        <div>
            <label for='coincWindow{{orNumber}}'>Inter-detector coincidence window width [ns]:</label>
            <input type='number' min='0' value='0' step='1' id='coincWindow{{orNumber}}' class='small-number' onchange='requestNewFilterName()'></number>
        </div>
        <button id='andNewRow{{orNumber}}' class='btn btn-info' onclick='addNewAND({{orNumber}});'>AND new condition</button>
        <button id='deleteCondition{{orNumber}}' class='btn btn-danger' onclick='deleteOR({{orNumber}})'>Delete This Block</button>
    </div>
</template>