x-ribbon{
	width: 100%;
	height: 300px;
	display: inline-block;
}

div.ribbonWrapper{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: scroll;
	white-space: nowrap;
}

div.ribbon{
	min-width: 4em;
	margin: 4em 0 0 0;
	background-color: #f1c40f;
	min-height: 1em;
	display: inline-block;
	vertical-align: top;
}