<link rel="stylesheet" href="daq-monitor.css">
<script src='daq-monitor.js' type="text/javascript"></script>

<template id='daq-monitor'>
	
    <div class='section-wrapper'>
        <div class='col-md-12 pan'>
            <h2>Detector Types</h2>
            <div id='detectorsHisto'></div>
        </div>
    </div>

    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='masterStats'>
            <h2>Master Stats</h2>
            <div id='collectorsHisto'></div>
        </div>
    </div>

    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='collectorsWrap'>
            <h2>Collectors</h2>
            <label for='collectorPicker'>Collector: </label>
            <div id='collectorPicker' class="btn-group" role="group"></div>
            <div id='digitizersHisto'></div>
        </div>
    </div>

    <div class='section-wrapper'>
        <div class='col-md-12 pan'>
            <h2>Digitizers</h2>
            <label for='digiCollectorPicker'>Collector: </label>
            <div id='digiCollectorPicker' class="btn-group" role="group"></div><br>
            <label for='digitizerPicker'>Digitizer: </label>
            <div id='digitizerPicker' class="btn-group" role="group"></div><br>
	    <label for='digitizerLink'>Link to Status page:</label>
	    <div id='digitizerLink'></div>
	    <div id='channelsHisto'></div>
        </div>
    </div>

    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='chanmaskWrap'>
            <h2>Channal Masks</h2>
            <label for='MasterChanMaskPicker'>Master: </label>
            <div id='MasterChanMaskPicker' class="btn-group" role="group"></div><br>
            <label for='CollectorChanMaskPicker'>Collectors: </label>
            <div id='CollectorChanMaskPicker' class="btn-group" role="group"></div>
        </div>
    </div>
	
</template>













