widget-MSC{
	margin: 1em;
}

widget-MSC table{
	float:left;
	line-height: 150%;
	font-size: 120%;
	margin-right: 1em;
}

widget-MSC caption{
	font-size: 200%;
}

widget-MSC table tr td:nth-child(even){
	padding-left: 1em;
}

widget-MSC table tr:nth-child(odd){
	background-color: #333333
}

