div#mainContent{
	width: -moz-max-content;
	width: -webkit-max-content;
}

widget-MSC{
	margin: 3em;
	display: block;
}

widget-MSC table{
	float:left;
	line-height: 150%;
	font-size: 120%;
	margin-right: 2em;
}

widget-MSC caption{
	font-size: 200%;
	margin: 1em 0em 1em 0em;
}

widget-MSC td{
	padding: 1em;
}

widget-MSC table tr:nth-child(even){
	background-color: #444444
}

