<link rel="stylesheet" href="adc-sidebar.css">

<template id='adc-sidebar'>
    <h3>{{channel}}</h3>
    <h4>{{ADC}}</h4>
    <div id='ADCwarning' class='warning hidden'>
        <h3>ADC response mangled!</h3>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="MSCB-node-info-head">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#MSCB-node-info" aria-expanded="false" aria-controls="MSCB-node-info">MSCB Node Info</a>
                </h4>
            </div>
            <div id="MSCB-node-info" class="panel-collapse collapse collapse" role="tabpanel" aria-labelledby="MSCB-node-info-head">
                <div class="panel-body">
                    <ul class='list-unstyled dark-text'>
                        <li id="ctrl"></li>
                        <li id="rev"></li>
                        <li id="serial"></li>
                        <li id="cpu_temp"></li>
                        <li id="cc_lock"></li>
                        <li id="cc_freq"></li>
                        <li id="hw_sw_m"></li>
                        <li id="hw_id"></li>
                        <li id="hw_time"></li>
                        <li id="sw_id"></li>
                        <li id="sw_time"></li>
                        <li id="uptime"></li>
                        <li id="ref_clk"></li>
                        <li id="ch_en"></li>
                        <li id="ch_aa"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="ADC-control-head">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#ADC-control" aria-expanded="true" aria-controls="ADC-control">ADC Control</a>
                </h4>
            </div>
            <div id="ADC-control" class="panel-collapse in" role="tabpanel" aria-labelledby="ADC-control-head">
                <div class="panel-body">
                    <ul class='list-unstyled dark-text'>
                        <li>
                            <label>DC Offset [mV]:</label>
                            <input max="4095" min="0" step="1" id="a_dcofst" type="number"></input>
                        </li>
                        <li>
                            <label>ADC Chan:</label>
                            <ul class='list-unstyled sublist'>
                                <li>
                                    <input value="true" name="a_off" id="a_off0" class="stdin" type="radio"></input>
                                    <label id="a_off0Label" for="a_off0">Enabled</label>
                                </li>
                                <li>
                                    <input value="false" name="a_off" id="a_off1" class="stdin" type="radio"></input>
                                    <label id="a_off1Label" for="a_off1">Disabled</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>Trim:</label>
                            <input class="stdin" step="1" id="a_trim" type="number"></input>
                        </li>
                        <li>
                            <label>Polarity:</label>
                            <ul class='list-unstyled sublist'>
                                <li>
                                    <input value="true" name="a_pol" id="a_pol0" class="stdin" type="radio"></input>
                                    <label id="a_pol0Label" for="a_pol0">Positive</label>
                                </li>
                                <li>
                                    <input value="false" name="a_pol" id="a_pol1" class="stdin" type="radio"></input>
                                    <label id="a_pol1Label" for="a_pol1">Negative</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="triggering-head">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#triggering" aria-expanded="false" aria-controls="triggering">Triggering</a>
                </h4>
            </div>
            <div id="triggering" class="panel-collapse collapse" role="tabpanel" aria-labelledby="triggering-head">
                <div class="panel-body">
                    <ul class='list-unstyled dark-text'>
                        <li>
                            <label>Channel:</label>
                            <ul class='list-unstyled sublist'>
                                <li>
                                    <input value="true" name="t_off" id="t_off0" class="stdin" type="radio"></input>
                                    <label id="t_off0Label" for="t_off0">Enabled</label>
                                </li>
                                <li>
                                    <input value="false" name="t_off" id="t_off1" class="stdin" type="radio"></input>
                                    <label id="t_off1Label" for="t_off1">Disabled</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>Hit Thresh:</label>
                            <input class="stdin" step="any" id="t_hthres" type="number"></input>
                        </li>
                        <li>
                            <label>Trig Thresh:</label>
                            <input class="stdin" step="any" id="t_thres" type="number"></input>
                        </li>
                        <li>
                            <label>Differentiation:</label>
                            <input class="stdin" step="1" id="t_diff" type="number"></input>
                        </li>
                        <li>
                            <label>Integration:</label>
                            <input class="stdin" step="1" id="t_int" type="number"></input>
                        </li>
                        <li>
                            <label>Delay:</label>
                            <input class="stdin" step="1" id="t_delay" type="number"></input>
                        </li>
                        <li>
                            <label>Pole Cxn:</label>
                            <input class="stdin" step="any" id="t_polcor" type="number"></input>
                        </li>
                        <li>
                            <label>BLR Control:</label>
                            <input class="stdin" step="any" id="t_blrctl" type="number"></input>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="pulse-height-eval-head">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#pulse-height-eval" aria-expanded="false" aria-controls="pulse-height-eval">Pulse Height Eval.</a>
                </h4>
            </div>
            <div id="pulse-height-eval" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pulse-height-eval-head">
                <div class="panel-body">
                    <ul class='list-unstyled dark-text'>
                        <li>
                            <label>Integration:</label>
                            <input class="stdin" step="1" id="p_int" type="number"></input>
                        </li>
                        <li>
                            <label>Differentiation:</label>
                            <input class="stdin" step="1" id="p_diff" type="number"></input>
                        </li>
                        <li>
                            <label>Delay:</label>
                            <input class="stdin" step="1" id="p_delay" type="number"></input>
                        </li>
                        <li>
                            <label>Pole Cxn 1:</label>
                            <input class="stdin" step="any" id="p_polec1" type="number"></input>
                        </li>
                        <li>
                            <label>Pole Cxn 2:</label>
                            <input class="stdin" step="any" id="p_polec2" type="number"></input>
                        </li>
                        <li>
                            <label>Baseline Rest:</label>
                            <input class="stdin" step="any" id="p_bsr" type="number"></input>
                        </li>
                        <li>
                            <label>Gain [keV/chan]:</label>
                            <input class="stdin" step="any" id="p_gain" type="number"></input>
                        </li>
                        <li>
                            <label>Pileup Algo:</label>
                            <input class="stdin" step="1" id="p_pactrl" type="number"></input>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="time-eval-head">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#time-eval" aria-expanded="false" aria-controls="time-eval">Time Eval.</a>
                </h4>
            </div>
            <div id="time-eval" class="panel-collapse collapse" role="tabpanel" aria-labelledby="time-eval-head">
                <div class="panel-body">
                    <ul class='list-unstyled dark-text'>
                        <li>
                            <label>CFD Delay:</label>
                            <input class="stdin" step="1" id="cfd_dly" type="number"></input>
                        </li>
                        <li>
                            <label>CFD Fraction:</label>
                            <input class="stdin" step="any" id="cfd_frac" type="number"></input>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="waveform-readout-head">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#waveform-readout" aria-expanded="false" aria-controls="waveform-readout">Waveform Readout</a>
                </h4>
            </div>
            <div id="waveform-readout" class="panel-collapse collapse" role="tabpanel" aria-labelledby="waveform-readout-head">
                <div class="panel-body">
                    <ul class='list-unstyled dark-text'>
                        <li>
                            <label>Suppression</label>
                            <ul class='list-unstyled sublist'>
                                <li>
                                    <input value="true" name="wfr_supp" id="wfr_supp0" class="stdin" type="radio"></input>
                                    <label id="wfr_supp0Label" for="wfr_supp0">Suppressed</label>
                                </li>
                                <li>
                                    <input value="false" name="wfr_supp" id="wfr_supp1" class="stdin" type="radio"></input>
                                    <label id="wfr_supp1Label" for="wfr_supp1">Unsuppressed</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>Pretrigger:</label>
                            <input class="stdin" step="1" id="wfr_pret" type="number"></input>
                        </li>
                        <li>
                            <label>Samples:</label>
                            <input class="stdin" step="1" id="wfr_smpl" type="number"></input>
                        </li>
                        <li>
                            <label>Decimation:</label>
                            <input class="stdin" step="1" id="wfr_dec" type="number"></input>
                        </li>
                        <li>
                            <label>Filter WF:</label>
                            <ul class='list-unstyled sublist'>
                                <li>
                                    <input value="true" name="wfr_off" id="wfr_off0" class="stdin" type="radio"></input>
                                    <label id="wfr_off0Label" for="wfr_off0">Enabled</label>
                                </li>
                                <li>
                                    <input value="false" name="wfr_off" id="wfr_off1" class="stdin" type="radio"></input>
                                    <label id="wfr_off1Label" for="wfr_off1">Disabled</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="simulation-pulse-head">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#simulation-pulse" aria-expanded="false" aria-controls="simulation-pulse">Simulation Pulse</a>
                </h4>
            </div>
            <div id="simulation-pulse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="simulation-pulse-head">
                <div class="panel-body">
                    <ul class='list-unstyled dark-text'>
                        <li>
                            <label>Pulse</label>
                            <ul class='list-unstyled sublist'>
                                <li>
                                    <input value="true" name="sim_ena" id="sim_ena0" class="stdin" type="radio"></input>
                                    <label id="sim_ena0Label" for="sim_ena0">Enabled</label>
                                </li>
                                <li>
                                    <input value="false" name="sim_ena" id="sim_ena1" class="stdin" type="radio"></input>
                                    <label id="sim_ena1Label" for="sim_ena1">Disabled</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>Pulse Height:</label>
                            <input class="stdin" step="any" id="sim_phgt" type="number"></input>
                        </li>
                        <li>
                            <label>Risetime:</label>
                            <input class="stdin" step="any" id="sim_rise" type="number"></input>
                        </li>
                        <li>
                            <label>Falltime:</label>
                            <input class="stdin" step="any" id="sim_fall" type="number"></input>
                        </li>
                        <li>
                            <label>Rate:</label>
                            <input class="stdin" step="any" id="sim_rate" type="number"></input>
                        </li>
                        <li>
                            <label>Period:</label>
                            <ul class='list-unstyled sublist'>
                                <li>
                                    <input value="true" name="sim_rand" id="sim_rand0" class="stdin" type="radio"></input>
                                    <label id="sim_rand0Label" for="sim_rand0">Random</label>
                                </li>
                                <li>
                                    <input value="false" name="sim_rand" id="sim_rand1" class="stdin" type="radio"></input>
                                    <label id="sim_rand1Label" for="sim_rand1">Fixed</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="misc-head">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#misc" aria-expanded="false" aria-controls="misc">Miscellaneous</a>
                </h4>
            </div>
            <div id="misc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="misc-head">
                <div class="panel-body">
                    <ul class='list-unstyled dark-text'>
                        <li>
                            <label>Fixed Deadtime:</label>
                            <input class="stdin" step="1" id="fix_dead" type="number"></input>
                        </li>
                        <li>
                            <label>Detector Type:</label>
                            <input class="stdin" step="1" id="det_type" type="number"></input>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    function setupADCSidebar(wrapperID){
        // plug in the event listeners for the ADC sidebar

        document.getElementById(wrapperID).addEventListener('postADC', function(evt){
            document.getElementById(wrapperID).innerHTML = Mustache.to_html(
                dataStore.templates['adc-sidebar'], 
                {
                    'channel': evt.detail.channel,
                    'ADC': findADC(evt.detail.channel)
                }
            );

            // inject ADC requests into heartbeat:
            dataStore.heartbeat.ADCrequest = [
                                                [
                                                    'http://'+findADC(evt.detail.channel)+'/mscb?node='+(findChannel(evt.detail.channel)+2), 
                                                    'json', 
                                                    routeADCchannel
                                                ],
                                                [
                                                    'http://'+findADC(evt.detail.channel)+'/mscb?node=1',
                                                    'json',
                                                    routeADCboard
                                                ]
                                            ];

            // grab info immediately, before next heartbeat
            Promise.all(dataStore.heartbeat.ADCrequest.map(promiseURL)).then(function(payload){
                var i;
                for(i=0; i<payload.length; i++){
                    //callbacks
                    dataStore.heartbeat.ADCrequest[i][2](payload[i]);
                }
            })

            
        }, false);
        dataStore.ADCClickListeners = dataStore.ADCClickListeners.concat(wrapperID);
    }

    function unpackDAQdv(dv){
        //parse DAQ dataviews into window.currentData variables
        //information for an individual channel is packed in a 14 byte word:
        //[MSC 2 bytes][trig request 4 bytes][trig accept 4 bytes][threshold 4 bytes] <--lowest bit
        var channelIndex, channelName, DAQblock,
            i;

        // @TODO: make grif16 send appropriate mscs and lookup grifadc info based on sent MSC
        for(i=0; i<dv.byteLength/14; i++){
            DAQblock = unpackDAQ(i, dv);

            channelIndex = dataStore.DAQ.MSC.MSC.indexOf(DAQblock.MSC);
            channelName = dataStore.DAQ.MSC.chan[channelIndex];

            if(dataStore.data[channelName]){
                dataStore.data[channelName]['trigger_request'] = DAQblock.trigReq;
                dataStore.data[channelName]['trigger_accept'] = DAQblock.trigAcpt;
                dataStore.data[channelName]['threshold'] = DAQblock.threshold;
            }

        }
    }

    function unpackDAQ(i, dv){
        //extract the ith block out of a dataview object constructed from the arraybuffer returned by a DAQ element:
        var blockLength = 14,
            thresholdPos = 10,
            trigAcptPos = 2,
            trigReqPos = 6,
            MSCPos = 0,
            unpacked = {};

        unpacked.threshold  = dv.getUint32(i*blockLength + thresholdPos, true);
        unpacked.trigAcpt   = dv.getFloat32(i*blockLength + trigAcptPos, true);
        unpacked.trigReq    = dv.getFloat32(i*blockLength + trigReqPos, true);
        unpacked.MSC        = dv.getUint16(i*blockLength + MSCPos, true);

        return unpacked;
    }

    function routeADCchannel(ADCjson){
        // take the parsed JSON response of a request like http://grifadc03.triumf.ca/mscb?node=17 and sort it into the adc-sidebar.

        var numberID = [    'a_dcofst', 'a_trim',
                            't_hthres', 't_thres', 't_diff', 't_int', 't_delay', 't_polcor', 't_blrctl', 
                            'p_int', 'p_diff', 'p_delay', 'p_polec1', 'p_polec2', 'p_bsr', 'p_gain', 'p_pactrl',
                            'cfd_dly', 'cfd_frac',
                            'wfr_pret', 'wfr_smpl', 'wfr_dec',
                            'sim_phgt', 'sim_rise', 'sim_fall', 'sim_rate',
                            'fix_dead', 'det_type'
            ],
            radioName = [   'a_off',
                            'a_pol',
                            't_off',
                            'wfr_supp',
                            'wfr_off',
                            'sim_ena',
                            'sim_rand'
            ],
            warningDiv = document.getElementById('ADCwarning'),
            i;

        //empty response from ADC?
        if(Object.keys(ADCjson).length == 0){
            console.log('no keys')
            warningDiv.classList.remove('hidden');
            return;
        }
        warningDiv.classList.add('hidden');

        //keep hold of this blobject for later, has widths and car types and stuff in it needed for writing back
        dataStore.ADCstructure = ADCjson.vars;

        //all number inputs have id == data key name
        for(i=0; i<numberID.length; i++){
            if(dataStore.ADCstructure[numberID[i]])
                document.getElementById(numberID[i]).value = dataStore.ADCstructure[numberID[i]]['d'];
        }
        //all radio inputs have name == data key name
        for(i=0; i<radioName.length; i++){
            if(dataStore.ADCstructure[radioName[i]])
                document.querySelectorAll('input[name = "'+radioName[i]+'"][value = '+dataStore.ADCstructure[radioName[i]]['d']+']')[0].checked = true;    
        }
    }

    function routeADCboard(ADCjson){
        // take the parsed JSON response of a request like http://grifadc03.triumf.ca/mscb?node=1 and sort it into the adc-sidebar.

        var keys, time, content, i,
            warningDiv = document.getElementById('ADCwarning'),
            titles = {  'ctrl' : '<br>Control Bits:<br>', 
                        'rev' : '<br>Revision:<br>',
                        'serial': '<br>Serial:<br>',
                        'cpu_temp': '<br>FPGA Temperature:<br>',
                        'cc_lock': '<br>Clock Cleaner Locked:<br>',
                        'cc_freq': '<br>Clock Cleaner Frequency:<br>',
                        'hw_sw_m': '<br>Hardware / Software Match:<br>',
                        'hw_id': '<br>Hardware ID:<br>',
                        'hw_time': '<br>Hardware Timestamp:<br>',
                        'sw_id': '<br>Software ID:<br>',
                        'sw_time': '<br>Software Timestamp:<br>',
                        'uptime': '<br>Uptime:<br>',
                        'ref_clk': '<br>Reference Clock:<br>',
                        'ch_en': '<br>Enabled Channels:<br>',
                        'ch_aa': '<br>Enabled ADCs:<br>'
                    };

        //empty response from ADC?
        if(Object.keys(ADCjson).length == 0){
            console.log('no keys')
            warningDiv.classList.remove('hidden');
            return;
        }
        warningDiv.classList.add('hidden');

        keys = Object.keys(ADCjson.vars);
        for(i=0; i<keys.length; i++ ){
            content = titles[keys[i]] + ADCjson.vars[keys[i]].d;
            if(keys[i] == 'cpu_temp')
                content += ' C'
            if(keys[i]=='hw_id' || keys[i]=='sw_id')
                content = titles[keys[i]] + '0x' + parseInt(ADCjson.vars[keys[i]].d, 10).toString(16);
            if(keys[i]=='hw_time' || keys[i]=='sw_time'){
                time = new Date(parseInt(ADCjson.vars[keys[i]].d, 10)*1000);
                content = titles[keys[i]] + time.toString();
            }
            if(keys[i]=='uptime'){
                time = parseInt(ADCjson.vars[keys[i]].d, 10);
                content = titles[keys[i]] + chewUptime(time);
            }
            if(document.getElementById(keys[i]))
                document.getElementById(keys[i]).innerHTML = content;        
        }
    }

</script>