/*//////////////////////////////////////
CSS Reset///////////////////////////////
//////////////////////////////////////*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

select{
    -webkit-appearance:none;
    -moz-appearance:none;
	appearance:none;
}

input[type=radio]{
	display: none;
}

/*Enforce more intuitive box-sizing, suppress selection*/
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-user-select:none;
	-moz-user-select:none;
}

body {
	min-width: 1120px;
	background-color: #222222;
	color: #DDDDDD;
	height:100%;
}

/*Main content*/
div#mainContent{
	display:inline-block; 
	width:100%
}

/*Standard element styles*/
.stdin,
input[type='radio'].stdin + label{
	font-size: 100%;
	line-height: 1.2em;
	padding:0.5em;
	border-radius: 5px;
	display:inline-block;
	background-color: #111111;
	color: #EEEEEE;
	border: none;
	cursor: pointer;
	margin-right:2px;
	transition:background-color 0.3s; 
	-moz-transition:background-color 0.3s; 
	-webkit-transition:background-color 0.3s
}

input[type='radio'].stdin:checked + label{
	/*background-color: #555555;*/
	color: #f1c40f;
}

button.stdin:hover,
input[type='button']:hover{
	background-color: #555555;
}

button.lightButton{
	background-color: #444444;
}

a{
	text-decoration: none;
}

/*tooltip///////////////////////////////*/
div#tooltip{
	opacity: 0.9;
	background-color: #000000;
	border-radius: 1em;
	border: 0.25em solid #FFFFFF;
	display: none;
	pointer-events: none;
	padding: 1em;
}

/*Footer and footer-related styles////////////////////////////////////////////////////*/
div#footer{
    background-color: #111111;
    text-align: center;
    font: 120%;
    color: #DDDDDD;
    padding-left: calc((100% - 1120px) / 2);
    padding-right: calc((100% - 1120px) / 2);
    padding-bottom: 50px;
    height: 350px
}

div#push{
	height:350px;
}

div#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -350px;
}