<template id='follower-detail'>

    <div class="panel-group" id="{{clockName}}Detail" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="{{clockName}}Summary">
                <span class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#{{clockName}}Detail" href="#collapseSummaryDetail{{clockName}}" aria-expanded="false" aria-controls="collapseSummaryDetail{{clockName}}" class='btn btn-success'>Summary</a>
                </span>
            </div>
            <div id="collapseSummaryDetail{{clockName}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{clockName}}Summary">
                <div class="panel-body" id='summaryDetailContent{{clockName}}'>

                    <table class='table table-hover'>

                        <tr>
                            <td>Config: </td>
                            <td id='{{clockName}}Config'></td>
                        </tr>
                        <tr>
                            <td>Sync Source: </td>
                            <td id='{{clockName}}syncSrc'></td>
                        </tr>
                        <tr>
                            <td>Clock Source: </td>
                            <td id='{{clockName}}clockSrc'></td>
                        </tr>
                        <tr>
                            <td>Ref Clock: </td>
                            <td id='{{clockName}}refClock'></td>
                        </tr>
                        <tr>
                            <td>LEMO Clock: </td>
                            <td id='{{clockName}}lemoClock'></td>
                        </tr>
                        <tr>
                            <td>LEMO Sync: </td>
                            <td id='{{clockName}}lemoSync'></td>
                        </tr>
                        <tr>
                            <td>eSATA Clock: </td>
                            <td id='{{clockName}}esataClock'></td>
                        </tr>
                        <tr>
                            <td>eSATA Sync: </td>
                            <td id='{{clockName}}esataSync'></td>
                        </tr>
                        <tr>
                            <td>Last eSATA Sync </td>
                            <td id='{{clockName}}lastEsata'></td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="{{clockName}}Outputs">
                <span class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#{{clockName}}Detail" href="#collapseOutputsDetail{{clockName}}" aria-expanded="false" aria-controls="collapseOutputsDetail{{clockName}}" class='btn btn-success'>Outputs</a>
                </span>
            </div>
            <div id="collapseOutputsDetail{{clockName}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{clockName}}Outputs">
                <div class="panel-body" id='outputsDetailContent{{clockName}}'>

                    {{#eSATAindices}}
                        <div class='col-md-6 control-block'>
                            <h4>eSATA {{.}}</h4>
                            <input type='checkbox' id='{{clockName}}eSATA{{.}}Active'></input>
                            <label for='{{clockName}}eSATA{{.}}Active'>Active</label>
                            <div id='{{clockName}}bypassESATA{{.}}'>--</div>
                        </div>
                    {{/eSATAindices}}
                    <div class='col-md-6 control-block'>
                        <h4>Left LEMO</h4>
                        <div id='{{clockName}}bypassLeftLEMO'>--</div>
                    </div>
                    <div class='col-md-6 control-block'>
                        <h4>Right LEMO</h4>
                        <div id='{{clockName}}bypassRightLEMO'>--</div>
                    </div>
                    <div class='col-md-12 text-center top-gutter'>
                        <button id='{{clockName}}writeOutputs' class='btn btn-warning'>Write Outputs</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</template>