x-ribbon{
	width: 100%;
	display: inline-block;
}

form.ribbonWrapper{
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	white-space: nowrap;
}

div.ribbon{
	min-width: 4em;
	margin: 2em 0 0 0;
	background-color: #f1c40f;
	min-height: 1em;
	display: inline-block;
	vertical-align: top;
}

div.ribbon:hover{
	background-color: #c0392b;
	cursor: pointer;
}