widget-status{
	float:left;
	background: #333333;
	border-radius: 1em;
	padding: 1em;
	margin: 1em;
	width: calc(20% - 2em);

	clear:both;
}

widget-status.running{
	border: 2px solid #2ecc71;
}

widget-status.paused{
	border: 2px solid #f1c40f;
}

widget-status.stopped{
	border: 2px solid #e74c3c;
}

widget-status h2{
	margin-top: 0;
}

widget-status button{
	font-size: 120%;
	line-height: 1em;
	border-radius: 5px;
	cursor:pointer;
	margin: 1em 1px 0em 1px;
	padding: 0.5em;
	border:0px;
	color:#EEEEEE;
	background-color: #222222;
}

widget-status input:hover{
	background-color: #555555;
}

widget-status ul#statusMessageList{
	margin-top: 1em;
	
}

widget-status ul#statusMessageList li{
	line-height: 1.2em;
	padding: 0.5em;
	overflow: auto;
}

widget-status ul#statusMessageList li:nth-child(odd){
	background-color: #222222
}

widget-status td{
	padding-left: 1em;
}

li#statusRunNumber{
	font-size: 150%
}