widget-DAQ{
	float:right;
	width:calc(80% - 2em);
	margin: 0 1em 0 0;
}

div.DAQheadNode{
	width: 100%;
	height: 20em;
	border-radius: 1em;
	background-color: #555555;
	padding: 1em;
}

div.DAQnav{
	margin: 1em 0 1em 0;
}

#DAQdeck{
	height: 65%;
}

.hidden{
	display: none;
}

a#MSCbuilderLink,
a#MSCcanonicalLink{
	float: right;
}

form.plotControlWidget{
	margin-bottom: 1em;
}

table.tooltipTable td{
	padding: 0.25em 1em 0.25em 0.25em;
}

table.tooltipTable tr:nth-child(2n+1){
	background-color: #333333;
}

div.flotrWrap {
	width: 100%;
	height: calc(100% - 4em);
}