<link rel="stylesheet" href="cycle-builder.css">

<template id='cycle-builder'>
    <div class='pan top-pan'>
        <h4 id='currentActiveCycle'></h4>

        <div>
            <label for='cycleName'>Current Displayed Cycle:</label>
            <input type='text' id='cycleName' class='wideText'></input>
            <button class='btn btn-info' onclick='writeNewCycle()'>Save Cycle Definition</button>
            <button class='btn btn-success' onclick='writeNewCycle(true)'>Save & Apply Cycle Definition</button>
        </div>

        <div>
            <label for='cycleMenu'>Load / Delete Cycle:</label>
            <select id='cycleMenu'></select>
            <button class='btn btn-warning' onclick='switchCycle()'>Load</button>
            <button class='btn btn-danger' onclick='deleteCycle()'>Delete</button>
        </div>
    </div>

    <div>
        <div>
            <h4>Cycle Logic</h4>
            <div id='logic-wrap'></div>
            <button class='btn btn-info' onclick='addNewCycleStep();'>Add New Cycle Step</button>
        </div>
    </div>
</template>

<script>
    ////////////////
    // setup
    ////////////////

    function setupCycle(){
        // start initial setup

        dataStore.cycle = {};               // place to park cycle info on the dataStore
        dataStore.cycle.stepIndex = 0;     // monotonically increasing counter to create unique IDs for new cycle steps 

        dataStore.cycle.actions = {

            'RunControl': [
                {
                    'id': 'moveTape',
                    'code': 0xC008C008,
                    'prettyName': 'Move Tape'
                },

                {
                    'id': 'bkg',
                    'code': 0xC002C002,
                    'prettyName': 'Collect Background'
                },

                {
                    'id': 'collectDataWithBeamOn',
                    'code': 0xC001C001,
                    'prettyName': 'Collect Data with Beam on'
                },

                {
                    'id': 'collectDataWithBeamOff',
                    'code': 0xC004C004,
                    'prettyName': 'Collect Data with Beam off'
                },

                {
                    'id': 'collectSourceData',
                    'code': 0xC0F0C0F0,
                    'prettyName': 'Collect Source Data'
                }
            ]

        }

        // get the ODB PPG dir:
        promiseScript('http://' + dataStore.host + '/?cmd=jcopy&odb=/PPG&encoding=json-p-nokeys&callback=processCycle');

    }

    function processCycle(payload){
        // finish initial setup after active cycle has arrived
        dataStore.ODB.PPG = payload;

        setTitle(dataStore.ODB.PPG.Current);

        // populate the current cycle
        loadCycle(dataStore.ODB.PPG.Current);
        buildCycleMenu();
    }

    //////////////////////////
    // DOM manipulations
    //////////////////////////

    function addNewCycleStep(){
        // add a new step to the current cycle

        var wrap = document.createElement('div');
        wrap.setAttribute('class', 'cycle-step col-md-4');
        wrap.setAttribute('id', 'cycleStep' + dataStore.cycle.stepIndex);
        wrap.innerHTML = Mustache.to_html(
            dataStore.templates['cycle-step'], 
            {  
                "index": dataStore.cycle.stepIndex,
                "RunControl": dataStore.cycle.actions.RunControl
            }
        );
        document.getElementById('logic-wrap').appendChild(wrap);

        dataStore.cycle.stepIndex++;
        requestNewCycleName()
    }

    function deleteCycleStep(stepIndex){
        // delete the indexed step

        deleteNode('cycleStep' + stepIndex);
        requestNewCycleName()
    }

    function moveStep(stepID, direction){
        // moves the step later one (direction == 1) or earlier one (direction == -1)

        var nodes = document.getElementById('logic-wrap').childNodes,
            nodeArray = Array.prototype.slice.call(nodes),
            thisNode = document.getElementById(stepID),
            index = nodeArray.indexOf(thisNode);

        //cant go earlier than the beginning
        if(index == 0 && direction == -1)
            return;
        //cant go later than the end
        if(index == nodeArray.length-1 && direction == 1)
            return;

        if(direction == -1)
            thisNode.parentNode.insertBefore(thisNode, nodes[index+direction]);
        else if(direction == 1)
            nodes[index+direction].parentNode.insertBefore(nodes[index+direction], thisNode);

        requestNewCycleName()
    }

    /////////////////////
    // data loading
    /////////////////////

    function loadCycle(cycleName){
        // populate the UI with whatever cycle definition is requested

        var i, j,
            conditions;

        // dump previous cycle:
        document.getElementById('logic-wrap').innerHTML = '';

        if(cycleName == ''){
            window.alert("There doesn't seem to be a valid cycle name set. In the ODB, look in /PPG/Current, and make sure this is set to one of the cycles listed in /PPG/Cycles.")
        }

        for(i=0; i<dataStore.ODB.PPG.Cycles[cycleName].PPGcodes.length; i++){
            addNewCycleStep();
            loadCycleStep(dataStore.cycle.stepIndex-1, dataStore.ODB.PPG.Cycles[cycleName].PPGcodes[i], dataStore.ODB.PPG.Cycles[cycleName].durations[i]);
        }

        document.getElementById('cycleName').value = cycleName;
    }

    function switchCycle(){
        // switch the current cycle based on the select menu

        var newCycle = selected('cycleMenu', true);
        loadCycle(newCycle);
    }

    function buildCycleMenu(){
        // populate the cycle dropdown menu with whatever we found in the odb

        var i, option,
            keys = Object.keys(dataStore.ODB.PPG.Cycles),
            select = document.getElementById('cycleMenu');

        for(i=0; i<keys.length; i++){
            option = document.createElement('option');
            option.innerHTML = keys[i];
            select.appendChild(option);
        }
    }

    function loadCycleStep(stepIndex, cycleEncoding, duration){
        // parse the encoding of a cycle step and fill it in at the appropriate index.

        var i, j, keys, dur, durationUnit;

        //decide on a sensible unit for the duration
        if(duration >= 60000000){
            dur = duration / 60000000;
            durationUnit = 60000000;
        } else if(duration >= 1000000){
            dur = duration / 1000000;
            durationUnit = 1000000; 
        } else if(duration >= 0){
            dur = duration;
            durationUnit = 1000;
        } else {
            dur = 0xFFFFFFFF;
            durationUnit = -1;
        }

        //set duration and unit
        document.getElementById(stepIndex+'Duration').value = dur;
        document.getElementById(stepIndex+'DurationUnit').querySelector('option[value="'+durationUnit+'"]').selected = true;
    
        //set step actions
        keys = Object.keys(dataStore.cycle.actions);
        for(i=0; i<keys.length; i++){
            for(j=0; j<dataStore.cycle.actions[keys[i]].length; j++){
                if( (dataStore.cycle.actions[keys[i]][j].code & (cycleEncoding>>>0))>>>0 == dataStore.cycle.actions[keys[i]][j].code){
                    document.getElementById(stepIndex + dataStore.cycle.actions[keys[i]][j].id).checked = true;
                }
            }            
        }

    }

    function setTitle(title){
        // update the title of the current cycle from what's been pulled from the odb

        document.getElementById('currentActiveCycle').innerHTML = 'Current Active Cycle: ' + title;
        document.getElementById('cycleName').value = title;
    }

    function requestNewCycleName(){
        //when something changes in the cycle definition, remind the user to change the name of the cycle

        var nameField = document.getElementById('cycleName'),
            currentName = nameField.value;

        if(dataStore.ODB.PPG.Cycles.hasOwnProperty(currentName))
            nameField.value = 'my-new-cycle';
    }

    ///////////////////////
    // ODB writing
    ///////////////////////

    function writeNewCycle(apply){
        // write new cycle to the odb
        // note that since we can only write one thing at a time, and must create the variables in a separate operation first,
        // the synchronous order of operations here is important...

        var cycleName = document.getElementById('cycleName').value,
            cycleSteps = document.getElementById('logic-wrap').getElementsByClassName('cycle-step'),
            stepIndex, i, j, cycleActions, cycleStepCodes, cycleDurations, stepCode;

        // create requests to generate empty structure in odb to hold cycle definition
        dataStore.cycle.createCycleRequest = 'http://' + dataStore.host + '?cmd=jcreate&';
        for(i=0; i<cycleSteps.length; i++){
            dataStore.cycle.createCycleRequest += 'odb' + (2*i) + '=/PPG/Cycles/' + cycleName + '/PPGcodes&type' + (2*i) + '=7&arraylen'+ (2*i) +'='+cycleSteps.length+'&';
            dataStore.cycle.createCycleRequest += 'odb' + (2*i + 1) + '=/PPG/Cycles/' + cycleName + '/durations&type' + (2*i + 1) + '=7&arraylen' + (2*i + 1) + '=' + cycleSteps.length +'&';
        }
        dataStore.cycle.createCycleRequest += 'encoding=json&callback=populateCycle';

        // create requests to set values in odb
        dataStore.cycle.setCycleStepRequests = [];
        //csv lists of cycle steps and durations
        cycleStepCodes = '';
        cycleDurations = '';        
        for(i=0; i<cycleSteps.length; i++){
            stepIndex = parseInt(cycleSteps[i].id.slice(9), 10);

            //or together all actions in this cycle step
            stepCode = 0
            cycleActions = cycleSteps[i].querySelectorAll('input.cycleOption[type="checkbox"]:checked');
            for(j=0; j<cycleActions.length; j++){
                stepCode = stepCode | cycleActions[j].value;
            }

            //build csv
            if(i>0){
                cycleStepCodes += ',';
                cycleDurations += ',';
            }
            cycleStepCodes += stepCode;
            cycleDurations += Math.floor(parseFloat(document.getElementById(stepIndex+'Duration').value, 10) * parseInt(selected(stepIndex+'DurationUnit') , 10))
        }

        // create the requests
        // different syntax to set one thing versus an array of things...
        if(cycleSteps.length == 1){
            dataStore.cycle.setCycleStepRequests.push('http://' + dataStore.host + '?cmd=jset&odb=/PPG/Cycles/' + cycleName + '/PPGcodes&value=' + cycleStepCodes);
            dataStore.cycle.setCycleStepRequests.push('http://' + dataStore.host + '?cmd=jset&odb=/PPG/Cycles/' + cycleName + '/durations&value=' + cycleDurations);
        } else {
            dataStore.cycle.setCycleStepRequests.push('http://' + dataStore.host + '?cmd=jset&odb=/PPG/Cycles/' + cycleName + '/PPGcodes[*]&value=' + cycleStepCodes);
            dataStore.cycle.setCycleStepRequests.push('http://' + dataStore.host + '?cmd=jset&odb=/PPG/Cycles/' + cycleName + '/durations[*]&value=' + cycleDurations);
        }

        // prepare rquest to apply cycle
        if(apply)
            dataStore.cycle.applyCycleRequest = 'http://' + dataStore.host + '?cmd=jset&odb=/PPG/Current&value=' + cycleName

        // sets off a chain of callbacks to delete -> recreate -> populate
        dataStore.cycle.applyOnWrite = apply;
        promiseScript(generateDeletionURL(cycleName, 'createODBstructure'))
    }

    function generateDeletionURL(cycleName, callback){
        // return a url to delete cycleName from the odb

        var url = 'http://' + dataStore.host + '?cmd=jdelete&odb=/PPG/Cycles/' + cycleName

        if(callback)
            url += '&encoding=json&callback=' + callback;

        return url
    }

    function deleteCycle(){
        // remove a cycle from the odb

        var cycle = selected('cycleMenu', true);
        promiseScript(generateDeletionURL(cycle, 'reloadPage'))
    }

    function createODBstructure(){
        // callback after deleting old version of the cycle being recreated; sends request to recreate cycle keys
        promiseScript(dataStore.cycle.createCycleRequest);
    }

    function populateCycle(){
        // callback after recreating cycle keys; sends request to populate keys
        Promise.all(dataStore.cycle.setCycleStepRequests.map(promiseScript)).then(
            function(){
                if(dataStore.cycle.applyOnWrite)
                    promiseScript(dataStore.cycle.applyCycleRequest);
                else
                    reloadPage();
            }
        )      
    }
</script>