<template id='cycle-step'>

    <div id='{{index}}OrderControl' class='order-control'>
        <button id='{{index}}Earlier' class='btn btn-info' onclick='moveStep("cycleStep{{index}}", -1)'>Earlier</button>
        <button id='{{index}}Remove' class='btn btn-danger' onclick='deleteCycleStep({{index}})'>Remove</button>
        <button id='{{index}}Later' class='btn btn-info' onclick='moveStep("cycleStep{{index}}", 1)'>Later</button>
    </div>

    <div id='{{index}}DurationControl'>
        <label for='{{index}}DurationType'>Duration:</label>
        <select id='{{index}}DurationType' value='1' onchange='CycleDurationTypeSelect(this.id,this.value)'>
	  <option value='1'>Fixed Period</option>
	  <option value='0'>Perpertual</option>
	</select>
        <input id='{{index}}Duration' type='number' min='0' step='any' value='1' class='small-number' onchange='requestNewCycleName()'></input>
        <select id='{{index}}DurationUnit' value='1' onchange='requestNewCycleName()'>
            <option value='1000'>ms</option>
            <option value='1000000'>s</option>
            <option value='60000000'>min</option>
            <option value='4294967295'>Forever</option>
        </select>
    </div>

    <h3>PPG Output</h3>
    <ul id='cycle{{index}}RunControl'>
        {{#RunControl}}
            <li>
                <input type='checkbox' id='{{index}}{{id}}' class='cycleOption' value={{code}} onchange='requestNewCycleName()'></input>
                <label for='{{index}}{{id}}'>{{prettyName}}</label>
            </li>
        {{/RunControl}}
    </ul>

</template>