mixin head
    <title>GRIFFIN Dashboard</title>
    script(type='text/javascript' src='static/lib/brick-0.9.2.min.js')
    script(type='text/javascript' src='static/lib/kinetic-5.0.1.hackfix.js')
    script(type='text/javascript' src='static/utilities/colorScales.js')
    script(type='text/javascript' src='static/utilities/fetchingData.js')
    script(type='text/javascript' src='static/utilities/helpers.js')
    script(type='text/javascript' src='static/xTags/branding/xBasic.js')
    script(type='text/javascript' src='static/xTags/nav/xNav.js')

    link(rel="stylesheet" type="text/css" href='static/lib/brick-0.9.2.min.css')
    link(rel="stylesheet" type="text/css" href='static/xTags/branding/xBasic.css')
    link(rel="stylesheet" type="text/css" href='static/main.css')
    link(rel="stylesheet" type="text/css" href='static/xTags/nav/xNav.css')
