<template id='griffin-custom-suppressed'>
    <h3>GRIFFIN Position {{position}}</h3>

    <h4>A-Side HPGe</h4>
    <table id='griffin-{{position}}-A-MSC' class='table'>
        <tbody>
            <tr>
                <td>Channel</td>
                <td>M</td>
                <td>S</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Apply to all:</td>
                <td>
                    <input type='number' id='griffin-{{position}}-A-global-M' min=0 max=16 step=1 value={{M}}></input>
                </td>
                <td>
                    <input type='number' id='griffin-{{position}}-A-global-S' min=0 max=16 step=1 value={{S-A}}></input>
                </td>
                <td>-</td>
            </tr>
        </tbody>
    </table>

    <h4>B-Side HPGe</h4>
    <table id='griffin-{{position}}-B-MSC' class='table'>
        <tbody>
            <tr>
                <td>Channel</td>
                <td>M</td>
                <td>S</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Apply to all:</td>
                <td>
                    <input type='number' id='griffin-{{position}}-B-global-M' min=0 max=16 step=1 value={{M}}></input>
                </td>
                <td>
                    <input type='number' id='griffin-{{position}}-B-global-S' min=0 max=16 step=1 value={{S-B}}></input>
                </td>
                <td>-</td>
            </tr>
        </tbody>
    </table>

    <h4>Blue + Green Suppressors</h4>
    <table id='griffin-{{position}}-BG-MSC' class='table'>
        <tbody>
            <tr>
                <td>Channel</td>
                <td>M</td>
                <td>S</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Apply to all:</td>
                <td>
                    <input type='number' id='griffin-{{position}}-BG-global-M' min=0 max=16 step=1 value={{M}}></input>
                </td>
                <td>
                    <input type='number' id='griffin-{{position}}-BG-global-S' min=0 max=16 step=1 value={{S-BG}}></input>
                </td>
                <td>-</td>
            </tr>
        </tbody>
    </table>

    <h4>Red + White Suppressors</h4>
    <table id='griffin-{{position}}-RW-MSC' class='table'>
        <tbody>
            <tr>
                <td>Channel</td>
                <td>M</td>
                <td>S</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Apply to all:</td>
                <td>
                    <input type='number' id='griffin-{{position}}-RW-global-M' min=0 max=16 step=1 value={{M}}></input>
                </td>
                <td>
                    <input type='number' id='griffin-{{position}}-RW-global-S' min=0 max=16 step=1 value={{S-RW}}></input>
                </td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</template>