<template id='sceptar-custom'>
    <table id='sceptar-{{group}}-MSC' class='table'>
        <tbody>
            <tr>
                <td>Channel</td>
                <td>M</td>
                <td>S</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Apply to all:</td>
                <td>
                    <input type='number' id='sceptar-{{group}}-global-M' key={{key}} min=0 max=16 step=1 value={{M}} onchange="updateAddr.call(this, 'M')"></input>
                </td>
                <td>
                    <input type='number' id='sceptar-{{group}}-global-S' key={{key}} min=0 max=16 step=1 value={{S}} onchange="updateAddr.call(this, 'S')"></input>
                </td>
                <td>-</td>
            </tr>
        </tbody>
    </table>

</template>